[2017-12-04 12:47] #9203 closed

[2017-12-04 16:00] TheSpiritXIII opened #9232 "Pages blank in Chrome in main view but not in thumbnail"
### Configuration
#### Web browser and its version
Uploaded bad PDF to the [viewer](https://mozilla.github.io/pdf.js/web/viewer.html). Chrome 62 displayed the page correctly as a thumbnail but did not display the page in main view. However, I am able to select text as if it's there. IE11 and Firefox 57 do not have issues.

I noticed a pattern. It was always the 9th page that had the issue.
[Bad PD

[2017-12-04 17:05] yurydelendik commented on #6990
That means we need to properly localize all of these name. Is there a short list of popular paper sizes?

[2017-12-04 17:42] bdely opened #9233 "Incorrect Fonts used for rendering text"
I am using the pdfjs-dist version 2.0.163 with all browsers on windows 10

The text is not rendering with the correct fonts
![image](https://user-images.githubusercontent.com/2165209/33566775-0cb81f42-d8ef-11e7-918c-71f4481a77a4.png)

I have tested it in the demo and it is rendering correctly
![image](https://user-images.githubusercontent.com/2165209/33566839-453d9842-d8ef-11e7-8f9e-74bbf1fd73d8.p

[2017-12-04 18:17] linton-Portman commented on #6990
Hi,
From what i have read so far the differences are in paper size ( US letter = 8.50 x 11.00 inch & UK A4 = 8.26 x 11.69 inch )... The way i was going to approach it was using a series of if/else statements checking for these sizes. Then this will determine what text is displayed .... By also using these sizes  you can also determine if portrait or landscape....

This will be a lot of if/else sta

[2017-12-04 18:26] yurydelendik commented on #6990
Notice that A4 size is better to be expressed in mm, e.g. 210mm x 297mm

[2017-12-04 18:33] linton-Portman commented on #6990
@yurydelendik Oh yes i can do that also.

[2017-12-04 19:00] Snuffleupagus commented on #9233
Without a *complete* example, as asked for in [ISSUE_TEMPLATE.md](https://github.com/mozilla/pdf.js/blob/master/.github/ISSUE_TEMPLATE.md) and [CONTRIBUTING.md](https://github.com/mozilla/pdf.js/blob/master/.github/CONTRIBUTING.md), we cannot provide any assistance since it's impossible to tell from a distance what's wrong in your implementation.

[2017-12-04 19:52] luis4a0 opened #9234 "Text clipping not working"
Attach (recommended) or Link to PDF file here:
[shading.pdf](https://github.com/mozilla/pdf.js/files/1528556/shading.pdf)

Configuration:
- Web browser and its version: Firefox 57.0
- Operating system and its version: Linux 64-bit
- PDF.js version: the one bundled with Firefox.
- Is a browser extension: no

Steps to reproduce the problem:
1. Open the attached PDF with the online viewer https://moz

[2017-12-04 20:03] Snuffleupagus commented on #9234
[code]

[2017-12-04 20:16] luis4a0 commented on #9234
Just noting that. Indeed, adding the font to the page resources does not fix the issue. It says `Error: Requesting object that isn't resolved yet Helvetica_path_S`. See the atatched PDF.

[shading2.pdf](https://github.com/mozilla/pdf.js/files/1528631/shading2.pdf)

Should I add the font resource somewhere else?

[2017-12-04 20:27] Snuffleupagus commented on #9234
That would make this a duplicate of issue #4244, hence I'm closing this one.

If the font file is embedded in the PDF file, then it ought to work.

[2017-12-04 20:27] #9234 closed

[2017-12-04 20:32] bdely commented on #9233
I am not able to provide a complete working example because it is internal software.
I have inserted the code, it is React.js and TypeScript

`import * as React from 'react';
import * as ReactDom from 'react-dom';
import { Spinner, SpinnerSize } from '../../../Common/SVG';

PDFJS.disableRange = true;
PDFJS.verbosity = PDFJS.VERBOSITY_LEVELS.errors;

class PDF extends React.Component<props, state>

[2017-12-04 20:47] Snuffleupagus commented on #9233
I'm not finding `PDFJS.cMapPacked = true;` and `PDFJS.cMapUrl = 'some/path/to/the/cmaps/';` anywhere in https://github.com/mozilla/pdf.js/issues/9233#issuecomment-349095992, despite https://github.com/mozilla/pdf.js/issues/9233#issue-279084915 mentioning attempting to set those.

The only suggestion is to ensure that you set the CMAP options *before* calling `getDocument`, but without a complete e

[2017-12-04 20:47] #9233 closed

[2017-12-04 20:52] bdely commented on #9233
Sorry I copied my original code both lines were just before `PDFJS.disableRange = true;`
I will try to create an example

Thanks.

[2017-12-04 21:05] fitojb opened #9235 "PDFs with bookmarks (outline) annoyingly revert to Page Fit zoom level when clicking on a bookmark"
Configuration:
- Browser: Firefox 57
- OS: Windows 7 SP1/Ubuntu 18.04 development version
- PDF.js version: the one included with Fx 57
- Is a browser extension: no

Steps to reproduce the problem:
1. Open [this file](https://dspace.utamu.ac.ug/bitstream/123456789/182/1/Research-Methods-in-Education-sixth-edition.pdf).
2. Change the default zoom level to e.g. Fit Width.
3. Click on any item from t

[2017-12-04 21:15] yurydelendik commented on #9235
That's expected behavior -- PDF bookmark indeed override zoom to fit the page. Acrobat Reader behaves the same way. Closing as invalid.

[2017-12-04 21:15] #9235 closed

[2017-12-04 21:15] Snuffleupagus commented on #9235
The "links" (or destinations, as they are called in PDF files), can and in this case do specify the zoom level that should be used when they are clicked.
Compare with e.g. Adobe Reader, where the behaviour is the same as in PDF. Please refer to the PDF specification for additional information, e.g. [here](http://www.adobe.com/content/dam/Adobe/en/devnet/acrobat/pdfs/PDF32000_2008.pdf#G11.1947713)

[2017-12-04 21:15] datermine opened #9236 "Is it possible to get an annotation link text?"
If you look at this jsfiddle (http://jsfiddle.net/k3m8pnk5/) you can see that this PDF has an annotation on the text "PDF.js" (which goes to https://github.com/mozilla/pdf.js/).

See L39 for the gist of my problem. I'd like to be extract the link text that the annotation is associated with. Is there no way to do so? What about extracting the text in a rectangle?

[2017-12-04 22:36] alice opened #9237 "#findInput::placeholder style is now low-contrast in Chrome - consider setting color"
Per the image below, the placeholder text in `#findInput` is now low contrast because the Chrome UA style changed to improve the placeholder contrast against a white background.
![image](https://user-images.githubusercontent.com/95208/33579847-386b848e-d99f-11e7-92c1-d13f9cec0de9.png)

`#cecece` or lighter would meet AA contrast ratio requirements.

`::placeholder` style is defined here:
https://g

[2017-12-05 01:44] sangyi7 commented on #5685
I have the same symptoms if I change the print.

[2017-12-05 01:45] sangyi7 commented on #7597
I have the same symptoms if I change the print.

[2017-12-05 07:28] mshlin99 opened #9238 "How to disable Print and Download buttons?"
I removed the <button> tags for both, in  <div id="secondaryToolbarButtonContainer">and/or <div id="toolbarViewerRight">. But the webpage cannot load the pdf file. And no response when click Tools button.
Can anyone teach me what else I need to do?
The Viewer is run on Windows Server 2012 IIS.
- Web browser and its version: IE10 and Chrome 62.0
- Operating system and its version: Windows 7, Window

[2017-12-05 09:38] szabocsabi opened #9239 "web/pdf_viewer.js cannot load build/pdf.js"
Configuration:
- Web browser and its version: Chrome, Version 62.0.3202.94 (Official Build) (64-bit)
- Operating system and its version: Win 10
- PDF.js version: 2.0.185, installed from npm

I'm using TypeScript with requirejs and trying to use pdfjs library.

My configuration is:
[code]
The imports are:
[code]

The problem is that when pdf_viewer tries to load the "../build/pdf.js" with require f

[2017-12-05 09:40] Snuffleupagus commented on #9238
Please see e.g. https://github.com/mozilla/pdf.js/issues/7537#issuecomment-239427098; closing as answered.

[2017-12-05 09:40] #9238 closed

[2017-12-05 09:51] SamerShahin commented on #9160
any updates on the subject? thanks

[2017-12-05 10:14] Snuffleupagus commented on #9239
First of all, why are you importing the `pdfjs-dist/build/pdf.worker.js` file? That file cannot be loaded in the main thread, and should (as the name suggests) only be used in a Web Worker. For the worker file, you need to set the [`PDFJS.workerSrc`](https://github.com/mozilla/pdf.js/blob/f299473697dab586946bbbe4e1aa288aaffc0ec6/src/display/global.js#L140-L147) option to contain the path to that f

[2017-12-05 10:31] Snuffleupagus commented on #9160
As mentioned there, "Pre-built - Includes the generic build of PDF.js and the viewer." that download doesn't contain the viewer components that you're apparently attempting to access here.

The viewer components are provided pre-built in https://github.com/mozilla/pdfjs-dist (or can be build from source using `gulp components`), where the `pdf_viewer.js` file is present in the `/web` folder.

So,

[2017-12-05 10:31] #9160 closed

[2017-12-05 11:24] szabocsabi commented on #9239
Sorry for that.
Here's a simple project. I tried to keep the structure as I have in my real project.
https://github.com/szabocsabi/pdfjs_issue
Hope it helps

[2017-12-05 11:30] poseidon8254 opened #9240 "Some characters not rendered well in pdf that converted from a web page"
Attach (recommended) or Link to PDF file here:
[html table convert to pdf.pdf](https://github.com/mozilla/pdf.js/files/1530903/html.table.convert.to.pdf.pdf)

Configuration:
- Web browser and its version: Chrome Version 62.0.3202.94（Official Build） （64-bit）
- Operating system and its version:Microsoft Windows 10
- PDF.js version:v1.9.426
- Is a browser extension:no

Steps to reproduce the problem:

[2017-12-05 11:50] Snuffleupagus commented on #9239
Looking at your [example](https://github.com/szabocsabi/pdfjs_issue/blob/0fdafc7669e87736fcafd6f901962163f69db1da/src/modules/Main/Main.ts), you haven't actually addressed any of the points mentioned in https://github.com/mozilla/pdf.js/issues/9239#issuecomment-349258523.

So, please replace https://github.com/szabocsabi/pdfjs_issue/blob/0fdafc7669e87736fcafd6f901962163f69db1da/src/modules/Main/Ma

[2017-12-05 12:00] Snuffleupagus commented on #9240
Works for me, using PDF.js `2.0.185` in Firefox Nightly 59 (with HWA on) on Windows 7 (64-bit).

![9240](https://user-images.githubusercontent.com/2692120/33605985-2353a474-d9bc-11e7-89f4-9950cabdf002.png)

[2017-12-05 12:03] szabocsabi commented on #9239
Thank you for the quick reply.
I will change the code as you mentioned but the problem is "build/pdf.js" doesn't contain "PDFViewer" and "PDFLinkService".

That is the reason I imported "web/pdf_viewer.js" which imports "build/pdf.js" and that's the point where it fails.

[2017-12-05 12:14] Snuffleupagus commented on #9239
Have you tried the following import order instead?
[code]

[2017-12-05 12:22] szabocsabi commented on #9239
Yes, I tried the following imports:
[code]
[code]
[code]
...but the error is still appear.

Error location:
[code]

[2017-12-05 12:46] Liestambeur opened #9241 "Warning: Knockout groups not supported."
Attach (recommended) or Link to PDF file here:
[Pdfpage-353221_1.pdf](https://github.com/mozilla/pdf.js/files/1531128/Pdfpage-353221_1.pdf)

Configuration:
- Web browser and its version: Chrome ( 62.0.3202.94) Safari (11.0.2 )
- Operating system and its version: macOS Sierra 10.12.6
- PDF.js version: 1.8.254

Steps to reproduce the problem:

1. render pdf

What is the expected behavior? (add scree

[2017-12-05 12:51] Snuffleupagus commented on #9241
Closing as duplicate of e.g. issue #3136.

[2017-12-05 12:51] #9241 closed

[2017-12-05 16:11] Raf2061 opened #9242 "Receive this errore message: null is not an object"
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version: WkWebView
- Operating system and its version: iOS on iPhone
- PDF.js version: 2.0.185
- Is a browser extension:

Steps to reproduce the problem:
1. click on <a href="viewer.html?file=myfile.pdf">
2. receive in viewer.html following error
PDF.js v2.0.185 (build: f2994736)
Message: null is not an object (ev

[2017-12-05 16:37] Snuffleupagus commented on #9242
This issue is unfortunately missing too much of the required information to be actionable!
Also, please understand that cannot provide detailed support for various frameworks (e.g. "WkWebView"), and that the STR (steps to reproduce) provided are nowhere near detailed enough to be useful.

Finally, as mentioned in both [ISSUE_TEMPLATE.md](https://github.com/mozilla/pdf.js/blob/master/.github/ISSUE_

[2017-12-05 16:37] #9242 closed

[2017-12-05 17:00] xrkolovos commented on #1076
@rmhrisk can you provide a github repo with a sample code?

[2017-12-05 17:17] sherburne commented on #9196
FWIW it's my best guess this is related to the ReadableStreams polyfill, but the state of Edge debugging tools makes it impossible for me to narrow down the exact cause. The code that led me to this issue was passing PDF data into PDF.js as a data URI which triggers the TypeMismatch exception. Passing the PDF data to getDocument as Base64-encoded string (simply by stripping off the leading "data:.

[2017-12-05 18:11] rmhrisk commented on #1076
@xrkolovos the large majority of the work necessary to make this work has been open sourced; it includes https://github.com/PeculiarVentures/PKI.js, https://github.com/PeculiarVentures/ASN1.js, https://github.com/PeculiarVentures/xadesjs/, https://github.com/PeculiarVentures/tl-create, and https://github.com/PeculiarVentures/webcrypto-liner.

We also ended up creating our own PDF library (though w

[2017-12-05 19:35] luis4a0 opened #9243 "Displaced shading pattern"
Attach (recommended) or Link to PDF file here:
[shading_pattern.pdf](https://github.com/mozilla/pdf.js/files/1532598/shading_pattern.pdf)

Configuration:
- Web browser and its version: Firefox 57.0
- Operating system and its version: Debian GNU/Linux 9 64-bit
- PDF.js version: tried with Firefox's 1.9.583 and with online viewer 2.0.185
- Is a browser extension: no

Steps to reproduce the problem:

[2017-12-05 19:44] Snuffleupagus commented on #9243
Closing as duplicate of issue #8111; see also https://github.com/mozilla/pdf.js/blob/f299473697dab586946bbbe4e1aa288aaffc0ec6/src/display/canvas.js#L1463-L1464.

[2017-12-05 19:44] #9243 closed

[2017-12-06 01:25] poseidon8254 commented on #9240
Thanks a lot.The problem is resloved

[2017-12-06 01:25] #9240 closed

[2017-12-06 03:58] wxspku commented on #9053
The problem is caused by none standard font which is not embedded in pdf file.
![fonts](https://user-images.githubusercontent.com/29788419/33643674-95eee650-da7b-11e7-9744-e6dc627e2a37.png)
The font is a Chinese font.  We meet the same problem with other Chinese font such as simsun or simhei.
I think the reason for the problem is unsuccessful font substitution in iOS safari 10+.

[2017-12-06 11:24] THausherr commented on #9053
That's why you should always embed such fonts. Then there's no substitution.
https://stackoverflow.com/questions/5660781/how-to-subset-the-fonts-used-in-a-pdf-with-itextsharp

[2017-12-06 11:54] ousia commented on #6990
Here you have a list (that I adapted from ConTeXt).

Standard European paper sizes:

[A0]  [width=841mm, height=1189mm]
[A1]  [width=594mm, height=841mm]
[A2]  [width=420mm, height=594mm]
[A3]  [width=297mm, height=420mm]
[A4]  [width=210mm, height=297mm]
[A5]  [width=148mm, height=210mm]
[A6]  [width=105mm, height=148mm]
[A7]  [width=74mm, height=105mm]
[A8]  [width=52mm, height=74mm]
[A9]  [widt

[2017-12-06 12:04] ousia commented on #6990
@linton-Portman, from what I see in your screenshots, I have a question:

Wouldn’t the following info be better?

    Letter, portrait (8.5  × 11 in)

I mean, these following adaptations:

* Use paper name first.

* Followed by _portrait_ or _landscape_.

    BTW, if the separation before is a comma, I think the word should begin with a lowercase letter.

* Write the dimensions inside the parenthe

[2017-12-06 12:08] ousia commented on #6990
@linton-Portman, using [`switch`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/switch) might be a better alternative to `if... else` statements.

I cannot code, so experienced coders may give better advice. (I simply replied to your question, since it remained unanswered).

[2017-12-06 14:54] yurydelendik commented on #6990
All of that needs to be translated. Personally I prefer find 5-10 top most used page sizes and give them names.

Due to that: "8.5 in × 11 in, Letter/Portrait" or just "100mm x 200mm" might look a better choice here

[2017-12-06 14:55] yurydelendik commented on #6990
Yes, but it's also up to localizers for specific culture

[2017-12-06 15:02] yurydelendik commented on #6990
I'm sure core contributors will have open mind about the way this problem will be addressed. Main concern here is that a solution must not be complex and not add burden in future maintenance of the project.

Personally, as a first step, I would just add page size information without "nice" names (to avoid their localization), maybe (auto) detect units. The second step would be discussion of the pa

[2017-12-07 07:40] mv80 commented on #8276
I am working with version 1.8.418 and also getting heights that are greatly exaggerated.In my document i get height of 144 instead of  what i expected is  about 20 . The function getTextContent returns wrong  height value . Any solution beside changing version to 1.6.210 ??

[2017-12-07 10:38] Max-ADC opened #9246 "PDF.js don't display image : Unable to decode image / Not enough memory"
Attach (recommended) or Link to PDF file here:
[annexe.pdf](https://github.com/mozilla/pdf.js/files/1538691/annexe.pdf)

Configuration:
- Web browser and its version: Internet Explorer 11.0.9600.18837CO
- Operating system and its version: Windows 7 64Bits
- PDF.js version: 1.9.426

Steps to reproduce the problem:
1. Simply load the document in the viewer

What is the expected behavior?
Document sh

[2017-12-07 14:25] nadeermalangadan opened #9247 "PDF.js Not finding all matches from pdf"
Attach (recommended) or Link to PDF file here:
[Hong Kong Aircraft Engineering Company Limited_1511417616.1 2.pdf](https://github.com/mozilla/pdf.js/files/1539395/Hong.Kong.Aircraft.Engineering.Company.Limited_1511417616.1.2.pdf)

Configuration:
- Web browser and its version: Chrome: 63
- Operating system and its version: windows and macOs
- PDF.js version: 2.0.185
- Is a browser extension: No

St

[2017-12-07 17:05] GauravV-02 commented on #9247
The reason behind it is spaces between article and 1. There are 2 spaces between article and 172, three between article and 165 and one between article and 167.

[2017-12-07 17:31] GauravV-02 commented on #9198
@cfr42 Hi, I am a student taking open source development course at Seneca college, looking for an issue to fix as a requirement of my course. Can I work on this?

Regards

[2017-12-07 18:09] Snuffleupagus commented on #9198
Works for me, when clicking the "Download" button on the PDF.js toolbar; see the following screen-shot.

![save](https://user-images.githubusercontent.com/2692120/33730710-1e3656f0-db81-11e7-90a4-f2714e21b2d0.png)

I don't think that this is behaviour that a web-app (that PDF.js is) can really affect, since whether or not the file is directly downloaded is a *browser* setting; please see https://s

[2017-12-07 18:09] #9198 closed

[2017-12-07 18:17] Snuffleupagus commented on #9246
Closing as duplicate of e.g. issue #6741.

[2017-12-07 18:17] #9246 closed

[2017-12-07 20:59] #5215 closed

[2017-12-07 21:52] MichaelDeBoey opened #9248 "[pdfjs-dist] 'worker-loader' requires 'webpack' as peerDependency"
When I install `pdfjs-dist` in a clean repo, I get the following warning:

[code]

Please add `webpack` (at least) to the `peerDependencies` (`dependencies` can be as well, but will make this one bloated), since this is a [peerDependency](https://github.com/webpack-contrib/worker-loader/blob/master/package.json#L34) of `worker-loader`.

[2017-12-07 22:17] GauravV-02 commented on #9200
@cfr42 Hi, I am a student taking open source development course at Seneca college, looking for an issue to fix as a requirement of my course. Can I work on this?

Regards

[2017-12-08 05:45] ruudjutinant opened #9250 "render PDF with password blank"
I have issue with a blob pdf with password it render blank ,
but in case pdf without password it fine.

`

		var blob = new Blob([ this.response ], {

			type : 'application/pdf'
		});

		url = URL.createObjectURL(blob);

		var loadingTask = PDFJS.getDocument({

			url : url,
			password : pwd
		});

		loadingTask.promise.then(function(pdf) {
			var pageNumber = 1;
			pdf.getPage(pageNumber).then(

[2017-12-08 06:16] sl0000 opened #9251 "An annotation 'add' or 'del' function provided by the edge browser is very useful when reading a pdf file."
An annotation 'add' or 'del' popup-menu item provided by the edge browser is very useful when reading a pdf file.

[2017-12-08 06:21] nadeermalangadan commented on #9247
@GauravV-02 While copy full text using "Adobe Acrobat Reader" Its showing one space between (article and 172, article and 165, article and 167).

[2017-12-08 07:38] #9250 closed

[2017-12-08 09:17] Snuffleupagus commented on #9251
It's somewhat difficult to understand exactly what's being asked/reported here, but the following is my best guess: As mentioned in the Wiki, see https://github.com/mozilla/pdf.js/wiki/Frequently-Asked-Questions#faq-annotations, PDF.js is a PDF reader and does support adding annotations.

Closing as out-of-scope.

[2017-12-08 09:17] #9251 closed

[2017-12-08 11:31] #2884 closed

[2017-12-08 12:09] Snuffleupagus commented on #5231
In practice, it seems that the cmap formats used in PDF files are only a subset of the possible ones (from a font specification point of view). I'm not sure if it makes much sense for us to attempt to implement support for more cmap formats, without examples of actual *PDF files* that are currently broken because of our (incomplete) cmap support.

Hence I'm closing this issue; but please open sepa

[2017-12-08 12:09] #5231 closed

[2017-12-08 12:22] Snuffleupagus commented on #6397
Since the link above appears to be dead, I'm attaching the PDF file here: [issue6397.pdf](https://github.com/mozilla/pdf.js/files/1542599/issue6397.pdf).

[2017-12-08 14:50] ndnenkov opened #9252 "PDF not rendering at all: getOperatorList - ignoring errors during task: RenderPageRequest"
This can be reproduced either with a simple app using PDFJS or a newer version of Firefox. I'll give details for the latter.

**Attach (recommended) or Link to PDF file here:**
[not-shown-pdfjs.pdf](https://github.com/mozilla/pdf.js/files/1542926/not-shown-pdfjs.pdf)

Configuration:
---
**- Web browser and its version:**
Firefox 57.0.1 (64-bit)
**- Operating system and its version:**
OS X EI Capit

[2017-12-08 16:12] Snuffleupagus commented on #9252
This is what the content stream in that PDF file looks like, once decoded:
[code]
The `rg`, i.e. the "setStrokeRGBColor", operator requires *three numerical* arguments. However as can be seen above, the first value is just a decimal comma, which isn't a valid number (in `. .59 .84 rg`).

[2017-12-08 18:15] #9195 closed

[2017-12-08 21:11] baldwin47 opened #9254 "Sigma glyph not rendering in IE11"
Attach (recommended) or Link to PDF file here:
[formula.pdf](https://github.com/mozilla/pdf.js/files/1543813/formula.pdf)

Configuration:
- Web browser and its version: IE 11.0.9600.18816
- Operating system and its version: Windows 7
- PDF.js version: 1.7.255
- Is a browser extension: No

Steps to reproduce the problem:
1. Open a PDF with math formulas in pdf.js in IE 11
2. Note that the Σ charact

[2017-12-08 21:49] Snuffleupagus commented on #9254
Closing as duplicate of issue #3599.

[2017-12-08 21:49] #9254 closed

[2017-12-09 09:22] Aarbel commented on #1076
when will it be merged with pdf.js ?

[2017-12-09 13:04] Snuffleupagus commented on #8887
Closing, since the PDF file is no longer available; please attach the file here (rather than linking it) in order to re-open the issue.

[2017-12-09 13:04] #8887 closed

[2017-12-09 16:42] kushagra189 commented on #8851
Is the issue still up? I would like to solve if it is.
PS: Noob here.

[2017-12-09 17:55] timvandermeij commented on #8851
There is a PR above, but there was no response since 24 October. You're welcome to use that PR, and in particular the comments there, as inspiration to create a new PR so we can hopefully merge it soon.

[2017-12-09 18:20] AvdiuAndin opened #9257 "help!! I'm using angular js and the previous developer is used iframe to present the pdf. Is it a good idea? I'm trying to get the text from the .textlayer class but the iframe calls the"
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version:
- Operating system and its version:
- PDF.js version:
- Is a browser extension:

Steps to reproduce the problem:
1.
2.

What is the expected behavior? (add screenshot)

What went wrong? (add screenshot)

Link to a viewer (if hosted on a site other than mozilla.github.io/pdf.js or as Firefox/Chrome extensi

[2017-12-09 18:25] timvandermeij commented on #9257
There is an example for getting the text content: https://github.com/mozilla/pdf.js/blob/master/examples/node/getinfo.js

Other than that, we cannot provide support for custom Angular.js code.

[2017-12-09 18:25] #9257 closed

[2017-12-09 18:30] AvdiuAndin opened #9258 "help!! NOT AN ISSUE !! The project is build on angular js and the previous developer presented the pdf in iframe. Is it a good idea?"
I'm trying to get the text from the .textlayer class but the iframe on LOAD returns the .textLayer partially completed. I need to highlight the some parts of the text. I wanted to know if pdf find controller will ease the job for me. If some text is found what the controller will return? Can i somehow initialize it on angular js controller from the iframe.

[2017-12-09 19:11] rmhrisk commented on #1076
@Aarbel at this point I don't know when we will find the time to refactor what we have so it could be easily be merged but we would like to see verify finding itself in PDFjs. With that said the PDFjs team has previously expressed concern over the size this feature would represent due to the necessary dependencies. As long as this is a concern it won't make sense to spend the engineering time to d

[2017-12-09 19:19] timvandermeij commented on #9258
As stated in the other issue, we cannot provide support for Angular-specific issues. The find controller will allow you to highlight parts of the text, but you need to wait until the entire page is loaded.

[2017-12-09 19:19] #9258 closed

[2017-12-09 22:38] JavierPons commented on #8851
Hi there!
Do you need help for a "beginners" :p Can you explain  more  concretely where do you need help? I see that this issue is for @kushagra189. Do you have an other one where I can participate?

[2017-12-10 03:05] fitojb commented on #9235
Can’t we have an about:config preference to override this behavior?

[2017-12-10 08:49] takahiroyoshi opened #9259 "The right half of each character is cut off in Microsoft Edge in some PDFs"
In some PDFs and in older PDF.js, the right half of each character is cut off in Microsoft Edge in one of my Widnows 10 computers.

How to reproduce:
1. Download http://www.jpma.or.jp/opir/news/news-44.pdf
2. Load it pdf.js viewer whose version is lower than 1.8.582.
(Make sure the zoom level is auto.)

The screenshot in one of my Windows 10 computer (bad)
![moji_bad20171210](https://user-images.g

[2017-12-10 10:31] Snuffleupagus commented on #9259
This really sounds like an issue with a particular version of Windows 10 and/or an issue with e.g. the graphics drivers, both issues that we really cannot fix.

As can be seen at https://github.com/mozilla/pdf.js/releases, the latest stable release is `v1.9.426` as of this writing. The version you're referring to was never an official release, and please keep in mind that support for previous vers

[2017-12-10 10:31] #9259 closed

[2017-12-10 10:51] Snuffleupagus commented on #8846
Since a number of people have expressed interest of working on this, but no patch has yet been provided, let's try the following approach to
If someone states that they intend to work on this issue, but doesn't provide a patch (or any sort of update) within *one* week, it's safe to assume that it's safe to

[2017-12-10 10:55] Snuffleupagus commented on #8846
Since a number of people have expressed interest in working on this, but no patch has yet been provided, let's try the following approach to make some headway here:
If someone leaves a comment stating that they intend to work on this issue, but doesn't provide a patch (nor any kind of update) within *one* week, then this issue will be considered available for another contributor.

[2017-12-10 12:55] Snuffleupagus commented on #5041
After PR #8102, `compatibility.js` is now bundled *directly* into the `pdf.js` and `pdf.worker.js` files to remove the need to include it manually via HTML code.
Furthermore, after PR #9093 (in preparation for the upcoming release of PDF.js version `2.0`) we're no longer publishing `compatibility.js` as a standalone file.

Closing, since this issue is no longer relevant.

[2017-12-10 12:55] #5041 closed

[2017-12-10 14:34] FrenchHope commented on #1076
IMHO, not implementing it before Firefox 59 (ESR) is released would mean the end of Firefox in enterprise if Chrome or Edge can read digital signatures.

[2017-12-10 15:57] #9248 closed

[2017-12-10 17:51] rmhrisk commented on #1076
@FrenchHope neither chrome of firefox can verify digital signatures.

[2017-12-11 00:39] Alex-DE-74 opened #9261 "Fill-in AcroForm still does not works? What about JavaScript?"
Hello and thanks for this work!

I'm new here, so please excuse me if I wrote something bogus ;)

Accordingly many discussions here, AcroForms should be supported now. As example this document is referred:
https://www.irs.gov/pub/irs-pdf/f1040.pdf

I tried this, and also my own documents, but no one field can be filled/checked/selected. Is it a new bug in latest (stable and development) release? I

[2017-12-11 08:30] ndnenkov commented on #9252
@Snuffleupagus I see. So is it a matter of adding a sensible default when the value isn't numeric (`0` perhaps)? Is this going to get fixed in PDFJS?

[2017-12-11 08:41] Snuffleupagus commented on #9261
No such claim has been made, since this is still an open issue; this work is being tracked in https://github.com/mozilla/pdf.js/projects/1 and e.g. issue #7613. Please keep in mind that this is a big and complicated project.

Some of this may eventually be implemented as part of adding form support.

Executing *general* JavaScript is probably never going to happen, since doing so could pose quite

[2017-12-11 08:41] #9261 closed

[2017-12-11 09:00] Snuffleupagus commented on #9252
I don't completely understand this question, since if you're not providing three *numeric* arguments then the `rg` operator, and by extension the PDF file itself, is *not* valid. So obviously, if you want one of the values to be zero, then it should be set to that (and not to something else).

It may eventually get fixed, but please keep in mind that this is a bug in a specific PDF file, rather th

[2017-12-11 09:10] ndnenkov commented on #9252
I understand that it's not valid. My point was that other viewers seem to use `0` when a value is not valid (numeric) as a workaround.

I get that this is not part of the pdf standard and it's unfortunate that other viewers have implemented hacks to support malformed pdfs, which in turn leads such pdfs becoming popular in the wild.

---

Still, I'm not in control of the pdf generation and I can't

[2017-12-11 11:06] Alex-DE-74 commented on #7613
Hello together!

What is the progress with AcroForm fill?
Used example https://www.irs.gov/pub/irs-pdf/f1040.pdf (and other) still does not work. Or is it not configured by default?
Some basic JavaScript like set field(s), clear field(s), send button support mentioned?

Thanks.

[2017-12-11 11:12] Snuffleupagus commented on #7613
@Alex-DE-74 Please read through the above comments carefully, in particular https://github.com/mozilla/pdf.js/issues/7613#issuecomment-251895091 and https://github.com/mozilla/pdf.js/issues/7613#issuecomment-287907674 are relevant.
Furthermore, you've already asked these questions in #9261 (where answers were provided); please let's try and keep this *tracking* issue free from this kind of general

[2017-12-11 12:33] Alex-DE-74 commented on #7613
@Snuffleupagus Excuse me, but for me it's not really traceable throught many topics, which item has which stage. And cyclic references are not helpfull at all. From point of https://github.com/mozilla/pdf.js/projects/1 it is clear for me, what pice of AcroForms is supported now (complettely) and what is on plan. Moreover, many topics address renering/viewing, but no words about fill/check/select/s

[2017-12-11 13:19] generiscorp opened #9262 "Japanese characters incorrectly rendered"
Attach (recommended) or Link to PDF file here:
![pdfjs-error](https://user-images.githubusercontent.com/22979918/33832857-f2d7bc88-de7d-11e7-8064-4c289e6505aa.png)
[Sample file_from_docbase.pdf](https://github.com/mozilla/pdf.js/files/1547881/Sample.file_from_docbase.pdf)

Configuration:
- Web browser and its version: Latest chrome, also IE 11
- Operating system and its version: Mac and Windows
-

[2017-12-11 13:39] Snuffleupagus commented on #9262
[code]

[2017-12-11 15:27] gHensges opened #9263 "Some fonts not shown in pdf"
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version: Chrome 62
- Operating system and its version: Windows 7
- PDF.js version: Actual demo project
- Is a browser extension: No
[Rechnungsnummer_16173091.PDF](https://github.com/mozilla/pdf.js/files/1548284/Rechnungsnummer_16173091.PDF)

Steps to reproduce the problem:
1.
2.

What is the expected behavior? (ad

[2017-12-11 15:31] Snuffleupagus commented on #9263
[code]

[2017-12-11 16:04] Snuffleupagus commented on #9263
Closing as duplicate of issue #7074.

[2017-12-11 16:04] #9263 closed

[2017-12-11 16:06] Snuffleupagus commented on #7074
@brendandahl Do you perhaps have time to look into this, since there's now multiple issues (see #9263 as well) affected by this? Unfortunately https://github.com/mozilla/pdf.js/issues/7074#issuecomment-198950374 is about as far as I got here.

[2017-12-11 16:23] generiscorp commented on #9262
@Snuffleupagus can you explain what that comment mean? :) Thank you.

[2017-12-11 17:50] amit7010 commented on #9237
Hi,
Can i do it?

[2017-12-11 18:45] amit7010 opened #9264 "Warning while loading unpacked extension in Chrome"
After building Chrome extension in local `gulp chromium` then loading the (unpackaged) extension from the
directory `build/chromium` it shows a warning as shown in image below :

- 'fileBrowserHandler' is not allowed for specified platform.

Configuration:
- Web browser and its version: 62.0.3202.94 (Official Build) (64-bit)
- Operating system and its version: Windows 10 , 64-bit OS, x64-based pro

[2017-12-11 21:35] timvandermeij commented on #9237
Sure, just keep in mind that a solution for this must work in all browsers, i.e., not be Chrome-specific. Thanks!

[2017-12-11 21:42] timvandermeij commented on #7613
I have removed the bold style for you. I would like to emphasize again that this is not the place for such a discussion; a channel like IRC would be more appropriate so we can give some background information. Filling in/submitting/printing forms is in fact in the checkbox list above, it just hasn't been implemented yet. The "text widgets" part is about rendering text widgets, which means the inpu

[2017-12-12 10:17] THausherr commented on #9262
Here's an explanation of the "loca" table:
https://developer.apple.com/fonts/TrueType-Reference-Manual/RM06/Chap6loca.html

[2017-12-12 10:43] THausherr commented on #9262
PDFBox shows a different error, "head is mandatory". That table is needed too. I can see "head" and "loca" in the byte sequence. Saving MSMincho and opening it with DTL OTMaster fails. However it succeeded when I renamed it the file to *.ttc. It's a font collection.

[2017-12-12 11:17] THausherr commented on #9262
@generiscorp The software you have used ("www.adlibsoftware.com: CTP (5.4.0.30881) OS (Windows 2012,2,0,64); modified using iText 2.1.7 by 1T3XT") has embedded the whole truetype collection, instead of embedding just a truetype font, or better, a font subset. Check the options or contact their support. Font subsetting makes the files much smaller.

[2017-12-12 11:52] generiscorp commented on #9262
@THausherr  thank you, but the PDF should still be displayed correctly in PDF.js as in Acrobat, right?

[2017-12-12 18:03] #9237 closed

[2017-12-12 18:11] amit7010 commented on #9237
Hi,
i used `color:#e0e0e0;` , a lighter shade then `#cecece` because it was little darker for Mozilla Firefox.
Below is the Preview of Mozilla Firefox Browser.
Firefox Quantum
Version: | 57.0.2 (64-bit)

![pdf_mozilla](https://user-images.githubusercontent.com/22027941/33899441-812e231e-df91-11e7-8de4-15fd8b99ba9a.PNG)

Other Browsers:
Opera
Version: | 49.0.2725.47

![opera_pdf](https://user-image

[2017-12-12 21:33] Snuffleupagus commented on #9262
The specification can be found at https://www.microsoft.com/typography/otspec/otff.htm, under the "Font Collections" heading.

[2017-12-12 21:43] lmcguffee opened #9269 "Fortify scan shows cross-site scripting issue with this file."
We are getting errors in our HPE application vulnerability Fortify scans shows that on line 6928 and 6929 they are using a invalidated location from line 6927. This url needs to have html-encoding enabled on the location.pdfOpenParams value.

Fortify scan explanation:

The method lambda() in viewer.js sends unvalidated data to a web browser on line 6929, which can result in the browser executing m

[2017-12-12 21:45] choilmto commented on #8851
Under the section titled "[Browser compatibility](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API)", there is a summary of native browser support across desktop and mobile platforms. What does 'streaming response body' refer to, and is it relevant to our needs? Under whatwg's streams standard, a readable stream is a class that uses chunks...is that what line 70 in the code cited above r

[2017-12-13 09:37] THausherr commented on #9262
@generiscorp Adobe displays a lot of broken files. Nevertheless, your file is incorrect. You put a font **collection** at a place where **one** font is expected. And having a one page PDF with no image and just a few lines of text grow to a size of 23MB should give you a hint that something is wrong, and fix your PDF production. Such a file should have a size of less than 100KB.

[2017-12-13 09:40] szabocsabi commented on #9239
@anirudhk sorry for the delay and thanks for your answer.
The problem is that I don't really want to store any 3rd party lib in my project. I get all the libs from npm.

[2017-12-13 09:47] anirudhk commented on #9239
Oh ok. So the real issue is in pdf.worker.js there is a version check. So everytime a version changes or an update happens this issue will re occur. I had to comment that piece when I stored it locally

[2017-12-13 09:55] generiscorp commented on #9262
@THausherr I understand. This is though a file generated by Adlib rendering tool and we have no impact on it's format. Anyway, since the font is embedded all the characters should be displayed correctly, right? Is it going to be fixes or is the only way to fix it is fixing the fonts being embedded?

[2017-12-13 10:31] THausherr commented on #9262
@generiscorp You could complain to Adlib, or check whether you're using the correct options with their software, maybe also ask them why they are using iText 2.1.7 which is from 2009.

I don't speak for PDF.js. I work with a different project (pdfbox) and that one has the same problem.

[2017-12-13 10:46] THausherr commented on #9262
The chrome pdf viewer and ghostscript have the same problem.

[2017-12-13 12:19] szabocsabi commented on #9239
Found a temporary solution.
[code]
Loading the pdfjs before bootstrapping the Application and attaching it to window

Since pdf_viewer.js has the following code this will work:
[code]

[2017-12-13 13:24] nveenjain commented on #8846
Can i work on this if this issue is still available?

[2017-12-13 15:59] Rob--W commented on #8851
@choilmto I have updated the MDN pages to be more clear. Take another look if you want to get a better understanding.

Line 70 in the above code refers to the non-standard way of obtaining a response stream in Firefox, via the `xhr.responseType = "moz-chunked-arraybuffer"` (where `xhr` is a `XMLHttpRequest` instance) (so the comment has a typo, "array" should be "arraybuffer").

`fetch` support do

[2017-12-13 17:02] anirudhk commented on #9239
Hmm..nice

[2017-12-13 17:08] Capocalypse opened #9273 "Broken PDF does not throw any error"
Configuration:
- Chrome 63.0.3239.84
- Windows 7
- PDF.js version: 2.0.205

While trying to show a corrupted PDF, a blank page is rendered. The console log reports a lot of warnings (screen attached). I just need to throw an error when the pdfjs fails to correctly read a pdf. Is that possible? thank you in advance
![image](https://user-images.githubusercontent.com/34517753/33951910-8de51352-e030-1

[2017-12-13 18:47] Snuffleupagus commented on #9273
Since PDF readers will in general attempt to recover from all sorts of corrupted files, PDF.js needs to attempt to do the same. Hence `getDocument` will only throw an error (or more correctly return a rejected Promise on the `PDFDocumentLoadingTask`), for *really* broken PDF files.

Depending on the kind of corruption present in the PDF file, the following `getDocument` parameter may be helpful to

[2017-12-13 23:23] LovikaJain opened #9274 "details:"Error: PDFDocument: stream must have data""
I am uploading the pdf file first and then trying to parse it using pdf.js but I get this error " details:"Error: PDFDocument: stream must have data". on console I am getting the file and file size is also fine after uploading it.

Code I Used :
var parse = function(payload,callback){
var data = payload;
if(data.file){
var name = data.file.hapi.filename;
var ext = name.split('.');
var extension =

[2017-12-13 23:57] SwartHack opened #9275 "LESS or SASS for viewer.css?"
Was wondering if there are any LESS and/or SASS files for viewer.css?

There is a specific reason why I need it. I am "embedding" the pdf-viewer in an asynchronous container in my web-site. Your current .css clobbers many standard CSS naming conventions. Consider using "vendor" specific prefixes to isolate your styles. e.g. pdfjs-container-main or pdfjsContainerMain.

If no LESS or SASS files exis

[2017-12-14 00:18] Snuffleupagus commented on #9275
No such files exist in this repo. (Also, as mentioned in e.g. http://mozilla.github.io/pdf.js/getting_started/ and https://github.com/mozilla/pdf.js/wiki/Setup-pdf.js-in-a-website#from-examples, the default viewer isn't really intended to be used as-is in custom deployments.)

This part sounds like a duplicate of issue #6706.

Closing as answered.

[2017-12-14 00:18] #9275 closed

[2017-12-14 12:28] hemant6263 opened #9277 "etting pdf path"
I am new to pdfJS my issue is i am trying to show PDFs from my database
I don't know how to exactly send the stored PDFs to pdfJS viewer for viewing  purpose I followed ?file= but didn't get any success

[2017-12-14 12:52] Snuffleupagus commented on #9277
When opening an issue, please make sure that you first of all read [CONTRIBUTING.md](https://github.com/mozilla/pdf.js/blob/master/.github/CONTRIBUTING.md) and that you provide all of the information requested in [ISSUE_TEMPLATE.md](https://github.com/mozilla/pdf.js/blob/master/.github/ISSUE_TEMPLATE.md).
In particular, note also that if the question pertains to a custom implementation of PDF.js,

[2017-12-14 12:52] #9277 closed

[2017-12-14 12:55] arunbhati opened #9278 "Google Noto Serif CJK JP font is not rendered properly in Mozilla firefox"
Attach (recommended) or Link to PDF file here: [FirefoxBugDocument.pdf](https://github.com/mozilla/pdf.js/files/1559178/FirefoxBugDocument.pdf)

Configuration:
- Web browser and its version:
 Firefox (57.0.1)
- Operating system and its version:
 Mac OS X (52.4.1)
- PDF.js version:
 1.6.315
- Is a browser extension:
 No

Steps to reproduce the problem:
1. Open attached pdf (FirefoxBugDocument.pdf)

[2017-12-14 16:57] subhashlg26 opened #9279 "PDF rendered using pdf.js shows square like garbage"
[document_Redacted-rev-6751.pdf](https://github.com/mozilla/pdf.js/files/1560105/document_Redacted-rev-6751.pdf)
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version: Chrome 62.0.3202.94 (Official Build) (64-bit)
- Operating system and its version: Mac 10.12.6 (16G29)
- PDF.js version: pdfjs-1.9.426-dist
- Is a browser extension: No

Steps to reproduce the p

[2017-12-14 17:06] Snuffleupagus commented on #9279
Possibly a duplicate of issue #9278.

[2017-12-14 17:52] Rob--W commented on #9269
There is no `lambda` function in PDF.js

I guess that Fortify is referring to https://github.com/mozilla/pdf.js/blob/694c4171d5c4b181ef102d51958b6b9d7e8153a8/web/app.js#L1773-L1789
That use is safe, so this is a false positive.

If you believe that there is an actual security vulnerability, please provide more details about the exact location and why you believe that it is a security issue.

[2017-12-14 17:52] #9269 closed

[2017-12-14 23:34] Snuffleupagus commented on #9262
I haven't had time to run any tests yet, but it looks like this ought to work: https://github.com/mozilla/pdf.js/compare/master...Snuffleupagus:TrueType-Collection
One thing to note though is that the performance isn't that great, but that's probably to be expected since we're forced to parse more than 20 MB of font data (re https://github.com/mozilla/pdf.js/issues/9262#issuecomment-351336064).

[2017-12-15 04:36] himanish-star commented on #3775
@timvandermeij , Has this issue already been resolved or is someone working on this? If no one is working on this then I would surely like to work on this

[2017-12-15 07:20] SunnyAbhi opened #9280 "Is it possible to directly open the Pdf file in full screen mode(presentation mode) using iframe."
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version:
- Operating system and its version:
- PDF.js version:
- Is a browser extension:

Steps to reproduce the problem:
1.
2.

What is the expected behavior? (add screenshot)

What went wrong? (add screenshot)

Link to a viewer (if hosted on a site other than mozilla.github.io/pdf.js or as Firefox/Chrome extensi

[2017-12-15 07:22] #9280 closed

[2017-12-15 07:30] SunnyAbhi opened #9281 "Is it possible to directly open the Pdf file in full screen mode(presentation mode) using iframe."
I have a requirement that demands viewing  a pdf file in iframe which can open directly in full screen mode. I did some digging and found that the requestfullscreen function in viewed.js can only be initiated by a user gesture. My question is quite simple, Can we open the pdf document directly in full screen mode ?

[2017-12-15 08:31] may583 commented on #9281
เมื่อ วันศุกร์ที่ 15 ธันวาคม ค.ศ. 2017, SunnyAbhi <notifications@github.com>
เขียนว่า:

[2017-12-15 09:04] Snuffleupagus commented on #9281
No; the Fullscreen API that is used in browsers requires, for security reasons, that entering fullscreen mode is a *user* initiated event.

Closing as answered.

[2017-12-15 09:04] #9281 closed

[2017-12-15 09:39] szabocsabi commented on #9239
@Snuffleupagus I would have another question.

I would like to the Print functionality but I found that the PDFPrintService is not exported as part of pdf.js or pdf_viewer.js

So my question is how can I import and use that?

Thanks in advance.

[2017-12-15 10:10] THausherr commented on #9279
"Warning: Ran out of space in font private use area."

Here's a reduced file with the same problem
[PDFJS-9279-reduced.pdf](https://github.com/mozilla/pdf.js/files/1562314/PDFJS-9279-reduced.pdf)

[2017-12-15 13:20] generiscorp opened #9283 "Hypelink in PDF not working in viewer"
The pdf.js viewer doesn't not allow clicking on hyperlinks in PDF documents.  I'm attaching a sample PDF - I created a sample Word document with a hyperlink and saved it as a PDF using Microsoft Word. Then opened with https://mozilla.github.io/pdf.js/web/viewer.html and the link is not clickable.

[Uploading Hyperlink.docx…]()

Attach (recommended) or Link to PDF file here:
[hyperlink.pdf](https:/

[2017-12-15 13:38] AnanthaRamaKrishnan47 opened #9284 "Is there any way i can skip or restrict PDFJS from rendering specific pages in a whole PDF?"
If i load a PDF, for example say 10 pages. Can i restrict or stop PDFJS from rendering the specific pages i choose? Is there any way i can implement it?

[2017-12-15 14:29] Snuffleupagus commented on #9283
Closing as duplicate of issue #9224 (and a multitude of others).

[2017-12-15 14:29] #9283 closed

[2017-12-15 14:36] Snuffleupagus commented on #9284
You can use the `disableAutoFetch` option to only load and render the pages that are visible in the default viewer, please refer to https://github.com/mozilla/pdf.js/blob/546cd2b67cade0ca5b083aff8346f4d50a40cd73/src/display/global.js#L173-L183

Aside from that, PDF.js contains no specific functionality to "ignore" random pages in the default viewer.
If you implement your own viewer, then it should

[2017-12-15 14:36] #9284 closed

[2017-12-15 14:37] generiscorp commented on #9283
@Snuffleupagus  I don't see this as a duplicate, there is no text with www that is not automatically hyperlinked, there is an actual hyperling in the content that works fine from Acrobat Reader and other tools like Brava and Arender. But it doesn't in PDF.js. The referred ticket refers to a different ticket.

[2017-12-15 14:41] Snuffleupagus commented on #9283
Quoting (myself) from https://github.com/mozilla/pdf.js/issues/9224#issuecomment-348458347:

[2017-12-15 15:06] teamsteamdev commented on #8276
I use getTextContent to extract the text and map text items to groups roughly representing paragraphs. Our company uses this to prepare documents for localization/translation.

[2017-12-15 16:07] gHensges opened #9285 "pdf completely rendered blank"
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version:
Chrome Version 63
- Operating system and its version:
Windows 7
- PDF.js version:
Your actual Demo Project
- Is a browser extension:

Steps to reproduce the problem:
1.
2.

What is the expected behavior? (add screenshot)
![image](https://user-images.githubusercontent.com/29802177/34050160-302eb066-e1ba-11

[2017-12-15 17:31] AvdiuAndin opened #9286 "Two words are presented as one while on the real pdf they are not together"
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version: Chrome 63.0.3239.84
- Operating system and its version: Win 10
- PDF.js version:
- Is a browser extension: NO

Steps to reproduce the problem:
1.
[FINAL-TEST.pdf](https://github.com/mozilla/pdf.js/files/1563463/FINAL-TEST.pdf)

2. when I do a search with markJS ( https://markjs.io/) words like "burgim der

[2017-12-15 19:59] #7074 closed

[2017-12-15 20:27] timvandermeij commented on #3775
It's yours! Feel free to contact us on IRC if you have questions.

[2017-12-15 20:29] timvandermeij commented on #9285
Interesting. I have not seen the "too much recursion" exception before. Okular on Linux handles it just fine. The console log is:

[code]

[2017-12-15 20:32] timvandermeij commented on #9273
Closing; we cannot provide more information if the PDF file is missing.

[2017-12-15 20:32] #9273 closed

[2017-12-15 21:11] #8846 closed

[2017-12-15 22:27] snovos commented on #9166
@uuggene  Was your commit merged? Im having same issue, and this error is not handled by onError handler(. Please keep me posted.

[2017-12-15 23:20] wareor commented on #8052
Same here.
The way of @kimgronqvist works, but now print all in the page, even the custom buttons.
Another way is changing IE Printing Page Setup from this:
![image](https://user-images.githubusercontent.com/27779514/34064021-e53d0cd8-e1aa-11e7-87b6-c78c91bcdf97.png)
To this:
![image](https://user-images.githubusercontent.com/27779514/34064034-016b6512-e1ab-11e7-985d-22f96d063b5a.png)
And printing

[2017-12-16 05:45] AnsonWooBizCloud commented on #7597
I have the same issue

[2017-12-16 07:23] shikhar-scs commented on #8632
Is this issue still up? If yes, I would like to work on it.

[2017-12-16 13:04] jafar-rezaei opened #9289 "open blob url in viewer application"
I am looking a way to read `pdf` file from `blob` link and display it in my `pdf.js` viewer application .

my blob Url seems some thing like :
`blob:null/564c950d-1010-4cf4-994c-6e8e63e16a21`

when I open it with mozilla opened in pdf.js extention but if I try get this with my `pdf.js` application with some url like this :

`PATH/index.html?file=blob:null/564c950d-1010-4cf4-994c-6e8e63e16a21`

vie

[2017-12-16 14:41] timvandermeij commented on #8632
Yes, feel free to work on this.

[2017-12-16 16:25] Snuffleupagus commented on #9289
That version number doesn't make sense, since there's never been any point where that *exact* version has been used. Furthermore, the fact that `build` isn't defined also seem weird.

Since this appears to be an issue with a custom implementation of PDF.js, please provide a complete (and runnable) example, as asked from in both [ISSUE_TEMPLATE.md](https://github.com/mozilla/pdf.js/blob/master/.git

[2017-12-17 08:27] jafar-rezaei commented on #9289
@Snuffleupagus  actually it is working in Mozilla and Chrome but in chrome I can not open blob link from `pdfMake` library.

is it good way to show blob with URL ?
we have some methods in pdfmake like this :
[code]
can we use this data instead of adding URL ? which one will be faster ?
(@note I am using viewer application)

For testing , you can get a blob url with `pdfmake` library here(opens a n

[2017-12-17 10:07] Snuffleupagus commented on #9289
That's information you really ought to have provided up front, by filling out all of the details requested in https://github.com/mozilla/pdf.js/blob/master/.github/ISSUE_TEMPLATE.md when opening the issue.

Those steps aren't entirely straight-forward to follow, since all modern browsers block popup windows by default. However, when trying to load the http://www.jurchin.com/test/build/ page in IE

[2017-12-17 10:07] #9289 closed

[2017-12-17 11:02] shikhar-scs commented on #8632
@timvandermeij
I was working on this. I've used istanbul to cover my tests and coveralls to display the reports. I've made the required necessary changes wherever needed. However, whenever I run coveralls using
[code]
I get the following error
[code]

I tried looking this up[here](https://github.com/nickmerwin/node-coveralls/issues/53) and [here](https://github.com/gotwarlost/istanbul/issues/798)

[2017-12-17 12:09] timvandermeij commented on #8632
It's hard to tell without seeing the code. Could you push the code to a branch so contributors here can look along with you?

[2017-12-17 13:00] shikhar-scs commented on #8632
@timvandermeij  [here](https://github.com/shikhar-scs/pdf.js/commit/e55241d927dba53de975b203526a5c07ac690b9b) it is. Please ignore the gem file. i've already removed it.

[2017-12-17 21:41] sapq opened #9290 "pdf.js and cache"
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version:
- Operating system and its version:
- PDF.js version:
- Is a browser extension:

Steps to reproduce the problem:
1. i have 1000 pdf on my website using pdf.js the proplem is When I review pdf Example load page number 9 When I come back to pdf must page open on number 9 Because I activated the cache for 1

[2017-12-17 22:38] sapq commented on #9290
I will pay 100 $ to fix this proplem

[2017-12-18 06:34] nitineltropy opened #9291 "Bold font not rendering properly"
Attach (recommended) or Link to PDF file here:
[PDF to debug.pdf](https://github.com/mozilla/pdf.js/files/1566831/PDF.to.debug.pdf)

Configuration:
- Web browser and its version: Firefox Quantum - 57.0.1 (64-bit)
- Operating system and its version: macOS High-Sierra
- PDF.js version: PDF version which is bundled in the browser
- Is a browser extension: NO

Steps to reproduce the problem:
1. Open t

[2017-12-18 08:30] cfeuersaenger commented on #6231
Note that functions of order 0 also suffer from the very same defect: interpolation is carried out in the target colorspace instead of the source color space.

Attaching a simple example to demonstrate the effect.

[order0.pdf](https://github.com/mozilla/pdf.js/files/1567138/order0.pdf)

I reproduced the failure with todays "Demo" pdf.js (both with order0.pdf and with P.pdf uploaded 1.5 years ago)

[2017-12-18 10:11] Snuffleupagus commented on #9290
It's somewhat difficult to understand what you're actually asking here (and the fact that the rest of the [ISSUE_TEMPLATE.md](https://github.com/mozilla/pdf.js/blob/master/.github/ISSUE_TEMPLATE.md) is empty doesn't help either).

However, the following is assuming that you're using the default viewer, i.e. the one found at https://mozilla.github.io/pdf.js/web/viewer.html, and that what you're ask

[2017-12-18 10:11] #9290 closed

[2017-12-18 13:15] shikhar-scs commented on #8632
Any comments @timvandermeij

[2017-12-18 21:09] timvandermeij commented on #8632
From a bit of Googling it looks like this error means that `coveralls` is not getting data in the `lcov` format. You could check if the individual commands in `npm run cover -- --report lcovonly && cat ./coverage/lcov.info | coveralls` in fact return the results you expect.

[2017-12-18 22:05] #9105 closed

[2017-12-19 01:54] shikhar-scs commented on #8632
Ohk @timvandermeij Ill do that

[2017-12-19 02:33] yoer opened #9292 "want disable text selection. but after change "disableTextLayer": to true, still can select text"
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version: Qt webkit
- Operating system and its version: win10
- PDF.js version: 1.10.88
- Is a browser extension:

Steps to reproduce the problem:
1.
2.

What is the expected behavior? (add screenshot)
i want disable text selection, so i disable text layer rendering by edit view.js, change "disableTextLayer": to tr

[2017-12-19 04:37] shikhar-scs commented on #8632
@timvandermeij
The main problem currently is this statement
```No coverage information was collected, exit without writing coverage information```
Because of this the lcov file at all times remains blank and thus this happens
[code]

[2017-12-19 05:22] himanish-star commented on #3775
@timvandermeij , the link [irc.mozilla.org](irc.mozilla.org) doesn't open. I searched for list of mozilla irc channels in [https://wiki.mozilla.org/IRC](https://wiki.mozilla.org/IRC) but there are a number of irc channels. So which one should i join to ask my doubts on pdf.js

[2017-12-19 09:01] youlook opened #9293 "<input type = 'file'> html tag related"
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version: IE 11
- Operating system and its version: windows 10
- PDF.js version: 1.9.426

Steps to reproduce the problem:

1. I am having trouble adding a file upload function to my company project using pdf.js.
Adding the <input type = 'file'> tag triggers the final file selection event.

2. The problematic functi

[2017-12-19 10:09] Snuffleupagus commented on #9293
Based on the limited information provided, I'm guessing that this is a duplicate of issue #8915; hence closing as such.

*For future reference:* As requested in both [ISSUE_TEMPLATE.md](https://github.com/mozilla/pdf.js/blob/master/.github/ISSUE_TEMPLATE.md) and [CONTRIBUTING.md](https://github.com/mozilla/pdf.js/blob/master/.github/CONTRIBUTING.md), for issues with custom implementation of PDF.js

[2017-12-19 10:09] #9293 closed

[2017-12-19 10:12] Snuffleupagus commented on #9292
Without *any* information regarding how exactly you're attempting to set `disableTextLayer` to `true`, there's unfortunately nothing we can do to help here!

As requested in both [ISSUE_TEMPLATE.md](https://github.com/mozilla/pdf.js/blob/master/.github/ISSUE_TEMPLATE.md) and [CONTRIBUTING.md](https://github.com/mozilla/pdf.js/blob/master/.github/CONTRIBUTING.md), for issues with custom implementat

[2017-12-19 12:01] yoerivdm commented on #8954
Experiencing the same problem on iOS11 and Safari 11.

A few things we tested and noticed
- Only Safari 11+, tested on 10 without any problem.
- Safari 11 on macOS High Sierra is unresponsive while rendering this pdf
- Firefox an Chrome have no problem rendering this PDF.

My PDFs are rendered with PhantomPDF (jsReport), the one you referenced is created with wkhtmltopdf.

I think it's a combinati

[2017-12-19 16:19] demonslord opened #9295 "[Printing] Blank Page on Chrome"
Attach (recommended) or Link to PDF file here:
[compressed.tracemonkey-pldi-09.pdf](https://github.com/mozilla/pdf.js/files/1572316/compressed.tracemonkey-pldi-09.pdf)

Configuration:
- Chrome 63.0.3239.108 (oficial) (64 bits)
- Windows 10 Pro
- PDF.js version: 1.10.88
- Is a browser extension: No

Steps to reproduce the problem:
1. Press print button on pdfjs viewer

What is the expected behavior

[2017-12-19 17:10] JRC18 commented on #6696
So I unfortunately still have issues with this not working.  I have tried resetting my profile, turning the setting back off then on again and whatever else I could think of to get it to accept the setting.  I went out and randomly found 2 pdf files on the internet to test with [This]( http://www.co.dutchess.ny.us/CountyGov/Departments/StopDWI/DontBlowIt.pdf) and [This](http://www.dutchessny.gov/C

[2017-12-19 17:47] illumna76 opened #9296 "PDF Viewer not displaying pdf in Chrome and IE with javascript errors"
Attach (recommended) or Link to PDF file here: http://localhost:51535/PdfViewer/Web/Viewer.html?file=http%3a%2f%2flocalhost%3a51535%2fextract.aspx%3ffile%3doutput%5ccompanyFolder%5c2017_10%5ccda3306d-b0bc-4245-ae7b-664712a5f60b.pdf

Configuration:
- Web browser and its version: Chrome 63.0.3239.108
- Operating system and its version: Windows 10
- PDF.js version: 1.9.426
- Is a browser extension: ?

[2017-12-19 20:52] timvandermeij opened #9297 "Auto-rotate for printing does not work"
Attach (recommended) or Link to PDF file here: http://www.co.dutchess.ny.us/CountyGov/Departments/StopDWI/DontBlowIt.pdf

Configuration:
- Web browser and its version: Firefox 57.0.2 (64 bits)
- Operating system and its version: Arch Linux
- PDF.js version: 1.9.583
- Is a browser extension: no (embedded in Firefox)

Steps to reproduce the problem:
1. Enable `pdfjs.enablePrintAutoRotate` in `about:

[2017-12-19 20:53] timvandermeij commented on #6696
@JRC18 Thank you for reporting this. I have opened a new issue (#9297) to track the problem that you describe because continuing on a closed issue makes it hard to track the current state of the problem.

[2017-12-19 20:55] timvandermeij commented on #3775
You should use a client like HexChat or Quassel to connect to `irc.mozilla.org`. Once connected, you can join `#pdfjs`.

[2017-12-19 21:02] timvandermeij commented on #8632
I'm not really sure why that's happening, but I also find a lot of people that did it successfully with Jasmine, so it must be possible. Could you try if https://bryce.fisher-fleig.org/blog/setting-up-istanbul-with-jasmine/index.html works for you? First just try those exact steps to see if works stand-alone, and then try to integrate it in PDF.js.

[2017-12-19 21:24] Snuffleupagus commented on #9296
Since the link above contains `localhost`, it unfortunately won't help anyone else to reproduce this issue.

Since this appears to be an issue with a custom implementation of PDF.js, as asked for in both [ISSUE_TEMPLATE.md](https://github.com/mozilla/pdf.js/blob/master/.github/ISSUE_TEMPLATE.md) and [CONTRIBUTING.md](https://github.com/mozilla/pdf.js/blob/master/.github/CONTRIBUTING.md), please pr

[2017-12-19 21:56] JRC18 commented on #6696
Thanks Tim, sorry I wasn't sure how to post it.

[2017-12-20 00:02] himanish-star commented on #3775
Thanks for helping @timvandermeij

[2017-12-20 02:03] shikhar-scs commented on #8632
@timvandermeij on it

[2017-12-20 04:29] shikhar-scs commented on #8632
@timvandermeij

Here they are [the build passing and calling for coverage](https://travis-ci.org/shikhar-scs/pdf.js).

The coverage producing [reports](https://coveralls.io/builds/14734903)

However, as the import and export statements exist, even after reaching those files, they arent fully tested. As far as I know I need to babelify these files to ES6 before jasmine testing and that is proving t

[2017-12-20 09:39] wangyunshuo opened #9298 "pdf.js applied to the app, the process will automatically shut down the problem"
pdf.js code applied to the app project, when opening the pdf document will take up a lot of process space led to the app automatically shut down, may I ask this question is the pdf source code cache or system cache you?

[2017-12-20 11:06] Snuffleupagus commented on #9298
Unfortunately there's nowhere near enough information provided to understand what's being asked here!

When opening an issue, please read [CONTRIBUTING.md](https://github.com/mozilla/pdf.js/blob/master/.github/CONTRIBUTING.md) and make sure that you provide the information requested in [ISSUE_TEMPLATE.md](https://github.com/mozilla/pdf.js/blob/master/.github/ISSUE_TEMPLATE.md). Since this appears

[2017-12-20 13:33] Snuffleupagus commented on #9285
This appears to be a "regression" from PR #6112, even though the underlying issue seem to be older.

[2017-12-20 18:47] himanish-star commented on #9286
@AvdiuAndin what do you mean by

[2017-12-20 19:02] AvdiuAndin commented on #9286
Mark js is a library that i want to use to search words on the pdf. I want to use this because pdf find controller only highlights the words and it is hard to add some functionality on it. OR maybe i did not find a better way that can help me to add some styling on that text. If you have one please feel free to tell me :)

[2017-12-20 19:04] himanish-star commented on #9286
Ya @AvdiuAndin I recently searched this. Ok let me see how far I can proceed with this issue

[2017-12-20 20:12] priyajeet commented on #9239
Maybe those lines in pdf_viewer.js should just be changed to

[code]
If `pdfjs-dist/build/pdf` has been required before, that should ideally be a noop?

If not that, then at least the`require('../build/pdf.js')` in those lines should be changed to the AMD module name `require('pdfjs-dist/build/pdf')`, and not a relative path, since that relative path is not mapped to the actual pdf.js.

That way t

[2017-12-20 21:07] timvandermeij commented on #8632
You're indeed getting closer to the solution. From the coverage reports it looks like you run the coverage on the `lib` files, which should already be transpiled to ES6 (see https://github.com/mozilla/pdf.js/blob/6ac9e1c5ed0d5f067872b8482724c171c79566b2/gulpfile.js#L965 and https://github.com/mozilla/pdf.js/blob/6ac9e1c5ed0d5f067872b8482724c171c79566b2/gulpfile.js#L985). Or is the problem that the

[2017-12-20 21:21] timvandermeij commented on #3270
Closing since IE9 and IE10 are no longer supported since PDF.js 2.0.

[2017-12-20 21:21] #3270 closed

[2017-12-20 21:21] timvandermeij commented on #5873
Closing since IE9 and IE10 are no longer supported since PDF.js 2.0.

[2017-12-20 21:21] #5873 closed

[2017-12-20 21:29] timvandermeij commented on #9296
It looks like some elements were removed from the viewer UI without adjusting the viewer JS code. Therefore, I think modifications to the viewer are causing these issues. As stated, we cannot debug this any further without access to a complete example, so until that's provided, I'm closing this since it's not actionable right now.

[2017-12-20 21:29] #9296 closed

[2017-12-20 21:31] timvandermeij commented on #9292
Closing since not enough information is provided. Try looking into how the mobile example works, because that uses the `disableTextLayer` flag: https://github.com/mozilla/pdf.js/blob/c26e49724400fb2c463f3348c8322daefc9539ed/examples/mobile-viewer/viewer.js#L25. If you're using the default viewer, try setting https://github.com/mozilla/pdf.js/blob/af71ea7a7dcb8cbb3d710a73584a0de8d65e5a96/web/defaul

[2017-12-20 21:31] #9292 closed

[2017-12-20 21:36] timvandermeij commented on #3638
Closing since IE10 is no longer supported since PDF.js 2.0.

[2017-12-20 21:36] #3638 closed

[2017-12-20 21:37] timvandermeij commented on #5408
Closing since IE10 is no longer supported since PDF.js 2.0.

[2017-12-20 21:37] #5408 closed

[2017-12-20 21:37] timvandermeij commented on #6247
Closing since IE10 is no longer supported since PDF.js 2.0.

[2017-12-20 21:37] #6247 closed

[2017-12-20 21:37] timvandermeij commented on #6429
Closing since IE10 is no longer supported since PDF.js 2.0.

[2017-12-20 21:37] #6429 closed

[2017-12-20 21:37] timvandermeij commented on #6925
Closing since IE10 is no longer supported since PDF.js 2.0.

[2017-12-20 21:37] #6925 closed

[2017-12-20 21:38] timvandermeij commented on #7711
Closing since IE10 is no longer supported since PDF.js 2.0.

[2017-12-20 21:38] #7711 closed

[2017-12-20 21:38] timvandermeij commented on #6926
Closing since IE10 is no longer supported since PDF.js 2.0.

[2017-12-20 21:38] #6926 closed

[2017-12-20 22:18] dmichon-msft opened #9300 "Feature Request: Ability to interrogate xref trailer for IRM metadata"
### Scenario
When opening a PDF file that is protected by Microsoft Information Rights Management (e.g. one protected using Microsoft Azure Information Protection), pdf.js (correctly) displays a page that identifies that the reader does not support the IRM. This is facilitated by the pdf containing said page alongside an encrypted container that the reader does not recognize and therefore does not

[2017-12-20 23:24] yurydelendik commented on #9300
Generally, no, if the "Wrapper" is not part of the PDF32000 specification. Can it be done via spec friendly attributes, e.g. some JavaScript or Metadata presence? We have similar problem with XFA form files and it will be nice to develop more generic solution.

Can you also attach test/example PDF to this issue?

[2017-12-21 00:57] darylteo commented on #8280
[suspension-from-official-quotation-ctxha-1675262.pdf](https://github.com/mozilla/pdf.js/files/1577506/suspension-from-official-quotation-ctxha-1675262.pdf)

We are experiencing this as well. Hopefully this pdf will assist in diagnosing issue. Let me know if I can help anymore as we have a wide variety of PDFs available that we need to render...

Thanks!
Daryl

[2017-12-21 01:37] jsjspapa opened #9301 "How to use the getselection method on pdf file on any web browser."
I’m trying to get a word from a PDF file on a web page when I select the word with the mouse on the pdf.
It is very helpful for you to show me the full code that starts with <htlm> and ends with </html>.
I'm just like a novice.
Please use the alert() function to show the word.

[2017-12-21 03:25] wangyunshuo commented on #9048
Yes, I have encountered this problem Is there a good solution?

[2017-12-21 05:18] shikhar-scs commented on #8632
@timvandermeij

The problem was I was running the tests in the wrong folder. ```build>lib``` folder already contains the entire project in ES6 format and I have now corrected the entire thing i.e. the path of jasmine and coveralls.
Another problem was the ``` --report lcovonly``` statement. Magically ( I really dont know why ) when I removed this part from the coveralls line, reports started getti

[2017-12-21 07:10] natarajnattu commented on #7041
var options = options || {
        scale: 1
 };

increase the scale you can see improved clarity

[2017-12-21 07:14] may583 commented on #7041
😀

เมื่อ 21 ธ.ค. 2017 14:11 "Nataraj" <notifications@github.com> เขียนว่า

[2017-12-21 08:02] ffourofhom opened #9302 "PDF.JS Performance Issue"
Hello , every advanced .
I write pdf.js in jQuery mobile，
On Android phone, the problem is that I first in  the PDF page is normal  ,when i back to the Previous page and  into the pdf page again, phone's performance is down . Is anyone has the same situation?
How do I resolved the problem?

[2017-12-21 08:16] Stefanieissun commented on #9302
Silent, I can't wait silent

[2017-12-21 08:35] Snuffleupagus commented on #9302
Closing as incomplete, since there's unfortunately no actionable information provided.

When opening an issue, please make sure that you read https://github.com/mozilla/pdf.js/blob/master/.github/CONTRIBUTING.md and also that you provide all of the information requested in https://github.com/mozilla/pdf.js/blob/master/.github/ISSUE_TEMPLATE.md.

[2017-12-21 08:35] #9302 closed

[2017-12-21 08:41] Snuffleupagus commented on #9301
Unfortunately it's quite difficult to understand what you're asking here.

Please make sure that you read https://github.com/mozilla/pdf.js/blob/master/.github/CONTRIBUTING.md and also that you provide all of the information requested in https://github.com/mozilla/pdf.js/blob/master/.github/ISSUE_TEMPLATE.md.

For questions regarding custom implementations of PDF.js, as outlined in the links above

[2017-12-21 08:41] #9301 closed

[2017-12-21 08:47] Snuffleupagus commented on #9286
This issue is currently somewhat difficult to understand, since it's not really clear if you're attempting to report a problem with PDF.js itself or with some library (i.e. mark.js).
If it's the latter case, please understand that we know nothing about that library and consequently are not able to provide support for it.

Can you please try to clarify the above, in terms of what the issue is in PD

[2017-12-21 08:54] Snuffleupagus commented on #7599
Closing, since Android 4 is explicitly unsupported in PDF.js `2.0`.

[2017-12-21 08:54] #7599 closed

[2017-12-21 09:13] AvdiuAndin commented on #9286
I'm highlighting words with pdf find controller. I also need to add some styling to that text ( for example add a click event on the text to pop up a modal ). Can u suggest a way how can I add that kind of functionality to the text ?

[2017-12-21 15:19] LeoDupont opened #9304 "Using pdf_viewer with Angular CLI (pseudo-webpack)"
Hello,

I am developping an Angular 2+ application with angular-cli (so not a full Webpack) and [pdfjs-dist](https://github.com/mozilla/pdfjs-dist).

I would like to use the `pdf_viewer.js` component as demonstrated in this example: https://github.com/mozilla/pdf.js/blob/master/examples/components/simpleviewer.js

# Successful use of the core
I successfully used pdfjs-dist alone to render pages "m

[2017-12-21 15:52] DavidRoss commented on #8701
This is still a problem with PDF Viewer 2.0.159.

[2017-12-21 15:52] DavidRoss commented on #8701
This is still a problem with PDF Viewer 2.0.159.

[2017-12-21 18:26] AvdiuAndin opened #9305 "Not an issue: Modify divs of text before or after the pdf is loaded."
My goal is to highlight some parts of the text and add a div with some Jquery functionality on it. Can someone suggest me solution for this problem?

I tried using mark Js library for highlighting text, but in some cases there are some words that do not appear to be together but when i search them with MARK JS they are concatenated :( . However, pdf find controller does the search perfectly for my

[2017-12-21 20:18] timvandermeij commented on #9286
The PDF find controller gives you the matches as output. Take a look at https://github.com/mozilla/pdf.js/blob/80c33253ed0f70708753a13e49e361ebdac354f2/web/text_layer_builder.js#L189 for how the highlighting is done. With the output from the PDF find controller you should be able to control `mark.js`. Note, however, that this is out of scope for the PDF.js project, so I'm closing this issue as res

[2017-12-21 20:18] #9286 closed

[2017-12-21 20:19] timvandermeij commented on #9305
Closing since this is a duplicate of #9286.

[2017-12-21 20:19] #9305 closed

[2017-12-21 20:24] timvandermeij commented on #8632
Nice work! It's really good to have an idea of the coverage and the reports finally give us that. Indeed it clearly shows that we need a lot more unit testing, but all the methods we recently added unit tests for are indeed shown as covered in the report, so that looks perfectly fine.

Yes, that's a good idea. We can then start the review process and see which issues are left to address.

[2017-12-21 20:34] Snuffleupagus commented on #8632
While it's certainly true that we could do with a lot more unit-tests, there large portions of the code that probably won't ever get anywhere near "good" enough test-coverage just from unit-tests alone.
As mentioned in https://github.com/mozilla/pdf.js/issues/8632#issue-241690851 there's a few different test-suites, and unless I'm mistaken getting coverage results from `gulp browsertest` as well w

[2017-12-22 00:46] unicorn82 opened #9306 "PDFJS highlight is not correct."
Attach (recommended) or Link to PDF file here:
[10pages-noLogo.pdf](https://github.com/mozilla/pdf.js/files/1581092/10pages-noLogo.pdf)
Configuration:
- Web browser and its version: IE 11, Chrome.
- Operating system and its version: Windows 10 Enterprise
- PDF.js version:  https://mozilla.github.io/pdf.js/web/viewer.html
- Is a browser extension: NO

Steps to reproduce the problem:
1. Open PDFJS d

[2017-12-22 03:17] shikhar-scs commented on #8632
@Snuffleupagus @timvandermeij

This morning I've extensively tried finding coverage reports in all of the folders individually using the statement `cd build && cd lib && istanbul cover --include-all-sources jasmine-node test`, changing different directories using `cd <directory name>` and testing using `jasmine-node <directory names and js files>` but in vain.

Though tests report are getting gene

[2017-12-22 04:22] yclnycl opened #9307 "pdf.js in mobild not work"
Hello, I found pdf.js on mobile not work, iframe DOM is empty,  the DOM not wokr too Is there a solution?

[2017-12-22 10:28] Snuffleupagus commented on #9307
Closing as incomplete; please read [CONTRIBUTING.md](https://github.com/mozilla/pdf.js/blob/master/.github/CONTRIBUTING.md) before opening an issue and make sure that you provide all of the information requested in [ISSUE_TEMPLATE.md](https://github.com/mozilla/pdf.js/blob/master/.github/ISSUE_TEMPLATE.md).

[2017-12-22 10:28] #9307 closed

[2017-12-22 10:38] VadimDez commented on #9304
@LeoDupont If interested, I've built a wrapper for angular 2+ apps https://github.com/VadimDez/ng2-pdf-viewer

[2017-12-22 10:56] Snuffleupagus commented on #9304
Even though the situation described here isn't identical to the one in issue #9239, that one might still be relevant/helpful here.

However, as explain in [CONTRIBUTING.md](https://github.com/mozilla/pdf.js/blob/master/.github/CONTRIBUTING.md), this issue isn't currently valid without a complete (and runnable) example; please refer to the quote below.

[2017-12-22 12:43] Rob--W commented on #8632
The PR at #9308 has shown an example of test coverage for the unit tests only. The generated reports provide little value because our set of unit tests is very small. For more details, see https://github.com/mozilla/pdf.js/pull/9308#issuecomment-353588039

So, to get browser tests, we need:

1. A way to generate coverage data.
2. A way to retrieve the coverage data (and upload it to coveralls).

T

[2017-12-22 12:48] shikhar-scs commented on #8632
@Rob--W Thanks for such a detailed review. I'll follow up and revert back as soon as possible.

[2017-12-22 13:33] AvdiuAndin commented on #9286
Lets start from the beginning. I want highlight more than 1 sentence on pdf. Can u suggest a way how can i do that ?

[2017-12-22 15:47] atensoftware commented on #9297
This may be the same or related issue.

1. Go to http://www.somacon.com/p352.php
2. Click "Generate calendar" using all the default settings.

Currently, the calendar displays in the browser in "Landscape" orientation, but when the page is printed to a printer, it comes out in Portrait mode.
Instead, Firefox should respect the orientation designated by the PDF and print the page in landscape mode.

[2017-12-22 20:40] timvandermeij commented on #9298
Closing due to the above.

[2017-12-22 20:40] #9298 closed

[2017-12-23 16:02] photopea opened #9312 "Splitting PDF.js into multiple libraries"
I think that PDF.js contains many great features, that could be used separately for other purposes than just rasterizing PDF documents. I.e. making it more robust.

Right now, I am looking for a PDF interpreter with a following interface:

    PDFI.interpret( pdfFile, drawer );

The interpreter would process the content of pdfFile and ocasionally call drawer.Fill(gst);  drawer.Stroke(gst),  drawer

[2017-12-23 16:30] timvandermeij commented on #9312
I think it's an interesting idea, but it will require quite a bit of work to get there. There is some WebGL code particularly for masks: https://github.com/mozilla/pdf.js/blob/master/src/display/webgl.js. More interestingly, we also have an experimental SVG back-end (see https://github.com/mozilla/pdf.js/blob/master/src/display/svg.js), so I think that can be seen as what you describe as a drawer.

[2017-12-23 16:53] photopea commented on #9312
Thanks for your answer. My idea was, that the interface would be always the same for each drawer (no matter if it is context2D or SVG, or WebGL). You would provide the interpreter and users of your library (e.g. me) would make their own drawers. Of course, you can provide your own drawers inside PDF.js and even keep the current interface (drawer would be behind it).

I am going to make a PDF impor

[2017-12-23 17:21] Snuffleupagus commented on #9312
I'm not convinced that *separate* libraries would do much more than increase the maintenance burden placed on the main contributors, so it'd probably be best to focus efforts on improvements in this repository.

While there is probably room for improvements in the core PDF.js, w.r.t. re-use in other more general situations, it does seem that the issue as filed is perhaps slightly too broad to be a

[2017-12-23 17:40] Snuffleupagus commented on #8966
The JPEG decoder that's currently used in PDF.js was originally imported from https://github.com/notmasteryet/jpgjs.
However, to be able to improve e.g. performance for the PDF.js use-cases and to simplify maintenance of the JPEG decoder (since it was basically unmaintained as a separate project at that point), this code was moved into the PDF.js project instead.

Since splitting out the JPEG deco

[2017-12-23 17:58] photopea commented on #9312
I guess I will write my own PDF interpreter. I also want to make a PDF export, so it will be handy to know the PDF specification.

[2017-12-23 17:58] #9312 closed

[2017-12-24 10:33] himanish-star commented on #1260
@timvandermeij , I would like to solve this issue. Could I ?

[2017-12-24 16:50] Rob--W commented on #8632
*This comment offers tips for the implementation, and addresses the questions from https://github.com/mozilla/pdf.js/pull/9308#issuecomment-353710595*

`istanbul` only adds instrumentation to code. This input is supposed to be executable code, because "instrumentation" means adding extra JavaScript code that detects when execution passes through that line, statement, etc. If the code is significan

[2017-12-24 19:06] #9291 closed

[2017-12-24 19:31] timvandermeij commented on #1260
There is already a pull request above, but there is an open question there. Perhaps you could help out with that, or alternatively find a different issue to work on.

[2017-12-25 04:40] nerkn commented on #9129
which libraries do you recommend  to edit pdf files?

[2017-12-25 05:39] manmeet0307 commented on #8851
Hi. I would like to solve this issue. Please assign me this. And also, please guide me how do i move forward in contributing more to this repository !

[2017-12-25 14:01] Snuffleupagus commented on #2133
Closing as fixed by PR #8168.

[2017-12-25 14:01] #2133 closed

[2017-12-26 05:39] punithAcuta opened #9315 "Rendering Layered Content"
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version: Any
- Operating system and its version: Any
- PDF.js version: Any
- Is a browser extension: No

Steps to reproduce the problem:
1. When opening any PDF Document which as 'Layered' in PDF.js its does not differentiate the layered Content, in fact the  directly rendered in text layer.
2. When Open the same

[2017-12-26 10:08] Snuffleupagus commented on #9315
*For future reference:* As explicitly asked for in the issue template, please remember to *always* attach an example PDF file to the issue.

---
Closing as duplicate of issue #269.

[2017-12-26 10:08] #9315 closed

[2017-12-26 14:27] shikhar-scs commented on #8632
@Rob--W I'm currently not available till the new year ... I'll catch on for sure after that

[2017-12-26 17:14] ldenoue opened #9316 "text selection offset"
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version: Chrome 64.0.3282.39 (Official Build) beta (64-bit)
- Operating system and its version: MAC High Sierra 10.13.1 (17B1003)
- PDF.js version: online as of Dec 26, 2017
- Is a browser extension:

Steps to reproduce the problem:
1. upload attached PDF to view with online PDF viewer
2. notice how every text lin

[2017-12-26 21:04] MagSag opened #9317 "Is thre a way of using this module on server only to convert pdf to text."
Configuration:
- Web browser and its version: I am not using a browser, I just want to convert and save the text in the datbase
- Operating system and its version: centos 6 (passenger)
- PDF.js version: any pdf file
- Is a browser extension: I am not using a browser

[2017-12-26 23:15] SwartHack opened #9318 "Difference between build/generic/web 356Kb viewer.js and 169Kb pdfjs-dist/web/pdf_viewer.js"
I believe I am missing something obvious, but have banged my head enough that I could really use some first-aid and help please.

I have been using pdfjs-dist to create client-side thumbnails without problems. Very similar to the many excellent examples for doing this. I now built the generic build of pdf.js and want to start with that generic viewer , which runs great using the gulp server! I am

[2017-12-27 10:53] Snuffleupagus commented on #5975
Closing, since the PDF file is no longer available.
(We can re-opened the issue if the problematic PDF file is *attached* here.)

[2017-12-27 10:53] #5975 closed

[2017-12-27 12:16] AnanthaRamaKrishnan47 opened #9319 "Is there any way to find 'WHEN' a PDF starts rendering? like we have "PAGERENDERED" event!"
After a page finished rendering we can find out by adding event listener for "PAGERENDERED". Like that is there any event triggered for start of a PDF rendering?

[2017-12-27 16:44] steve-ntl commented on #9022
I also am having the same issues as @amakhrov. Hosting my PDFs in S3. Range requests work perfectly in Firefox, but Chrome will fail ~25% of the time after returning 206 on the first few range requests. These PDFs are 100+ pages.

Is there any way to catch these errors and retry the request? A try/catch around PDFJS.getDocument() always successfully returns on the first 200 even if the range reque

[2017-12-27 16:45] stevelikesmusic commented on #9022
I also am having the same issues as @amakhrov. Hosting my PDFs in S3. Range requests work perfectly in Firefox, but Chrome will fail ~25% of the time after returning 206 on the first few range requests. These PDFs are 100+ pages.

Is there any way to catch these errors and retry the request? A try/catch around PDFJS.getDocument() always successfully returns on the first 200 even if the range reque

[2017-12-27 20:44] Rob--W commented on #9264
`fileBrowserHandler` is only for Chrome OS; You can ignore that warning.

What do you see in the console?

[2017-12-27 20:48] Rob--W opened #9322 "Remove undefined PDFJS.isValidUrl property"
The `isValidUrl` function in `src/dom_utils.js` was deprecated in 71a781ee5c9e548c16d8e612f41fbc45f1082fc5 and removed in 0f90d5130c9b4c847d5efecac9a727c151156883.
However, the source code still contains references to it in display/global.js:

https://github.com/mozilla/pdf.js/blob/fe30d4d468237864eb5a0609658a8372bfaa3ca0/src/display/global.js#L18-L19

https://github.com/mozilla/pdf.js/blob/fe30d4

[2017-12-27 20:51] Snuffleupagus commented on #9322
Yes, this was an oversight of mine in PR #9028, however it's already being taken care of as part of PR #9185.

[2017-12-27 22:53] timvandermeij commented on #9317
Refer to the Node.js example at https://github.com/mozilla/pdf.js/blob/master/examples/node/getinfo.js#L51. Closing as answered.

[2017-12-27 22:53] #9317 closed

[2017-12-27 23:00] timvandermeij commented on #9318
The `pdf_viewer.js` (https://github.com/mozilla/pdf.js/blob/master/web/pdf_viewer.js) file is, together with the `BaseViewer` class, responsible for the rendering of the pages in the default viewer at https://mozilla.github.io/pdf.js/web/viewer.html. The `viewer.js` file works with that and adds a lot of other bindings, such as all the buttons in the UI. The idea is that people can make their own

[2017-12-27 23:00] #9318 closed

[2017-12-27 23:03] timvandermeij commented on #9319
Check the `dom_events.js` file at https://github.com/mozilla/pdf.js/blob/f83bd721fc0fbc382f0059903e1f16a410401732/web/dom_events.js. There is, for example, the `documentload` event and the `pagesloaded` event, which I think is what you need. That file lists all the available events, so check their usages. Closing as answered.

[2017-12-27 23:03] #9319 closed

[2017-12-28 10:31] THausherr commented on #9283
@generiscorp  When I click on it with Adobe Reader DC nothing happens.

[2017-12-28 12:14] AnanthaRamaKrishnan47 opened #9324 "Is there anyway that i can duplicate an existing page twice or more?"
is there any way i can modify the page list and show an existing page twice?

[2017-12-28 13:00] Snuffleupagus commented on #9324
No, there's functionality like that in the default viewer (which I'd assume is what you're asking about).
Furthermore, there appears to be no need for doing in the default viewer, so this would also be out-of-scope for the PDF.js project itself.

Closing as answered.

---
*For future reference: When opening an issue, please provide more information/context than this, since it's quite difficult to

[2017-12-28 13:00] #9324 closed

[2017-12-29 16:47] gooczy opened #9326 "why some PDF files only loaded the first page，and the other pages loading for a long time?"
Attach (recommended) or Link to PDF file here:
https://github.com/gooczy/pdf.js/blob/master/test2.pdf

Configuration:
- Web browser and its version: safari
- Operating system and its version: iphone 5s，IOS version: 11.1
- PDF.js version:  the newest and the 2016 version
- Is a browser extension:

Steps to reproduce the problem:
1. I tested a pdf file https://github.com/gooczy/pdf.js/blob/master/te

[2017-12-30 13:00] #3775 closed

[2017-12-30 17:40] gooczy commented on #9326
I tested '/pdfJS/examples/mobile-viewer/viewer.html' with the same PDF file. Chrome cannot load this file too, and console warns '(5) util.js:276 Warning: Image exceeded maximum allowed size and was removed.'
but not the same behavior. I don't know does it matters.

[2017-12-30 18:58] andreip opened #9328 "examples/learning/prevnext.html use local num instead of global pageNum"
This is just a logic enhancement in the `examples/learning/prevnext.html` code, as well as the JSFiddle gh-pages branch corresponding to same file.

So:

https://github.com/mozilla/pdf.js/blob/9e0559264ce8a782b5a82c6e479e6c3903cdb2cc/examples/learning/prevnext.html#L85

changed to

[code]

There `pageNum` is used, but since `renderPage` received a `num` parameter, that could be used instead of the

[2017-12-30 23:12] andreip commented on #6847
I'm looking into this but I don't know if I understood the problem very well.

So the issue is only related to building/generating my own PDF? E.g. building it with some pdf generator like latex/jspdf?

I did the following and couldn't reproduce:
1. Built myself a PDF and opened it with `http://localhost:8888/web/viewer.html?file=/andrei_test/a4.pdf`
2. navigated to page 3.
3. Then edited the pdf

[2017-12-31 04:34] may583 commented on #7041
https://accounts.firefox.com/signin
may33153

[2017-12-31 12:18] yashamon commented on #6847
I can't test again at the moment but in step 4 you used to get that you
jump to page 1 after refresh (if the document changed). That said I was not
working locally but over a server connection. Not sure if that could make a
difference.

On Sun, Dec 31, 2017 at 4:42 AM, Andrei Petre <notifications@github.com>
wrote:

[2017-12-31 14:25] andreadd commented on #8669
The PDF file to use must be on the same server due to JavaScript limitations

[2017-12-31 14:36] timvandermeij commented on #6338
Closing since Safari 8 is no longer supported in PDF.js 2.0.

[2017-12-31 14:36] #6338 closed

[2018-01-02 01:34] himanish-star commented on #9328
I would like to do this change

[2018-01-02 06:00] hilalbhat opened #9332 "Hello Getting this error on LG webos"
TypeError: Expected at least one argument .  viewer.js : 405

![image](https://user-images.githubusercontent.com/24771801/34475237-2a01c576-efb0-11e7-9779-10537fc3c232.png)

Tested on browsers Chrome , Mozilla , Safari .... Working there same code.

But not on webos (LG)

[2018-01-02 10:28] himanish-star commented on #4284
@yurydelendik , @timvandermeij Could I take this issue up if it's okay with you all?

[2018-01-02 10:44] Snuffleupagus commented on #9332
Unfortunately we don't support that browser, hence the recommendation would be to use one of the standard browsers (e.g. the ones you listed above).

Closing as answered.

[2018-01-02 10:44] #9332 closed

[2018-01-02 10:50] andreip commented on #9328
go for it 👍

[2018-01-02 11:48] shikhar-scs commented on #8632
@Rob--W
Can you please tell me the specific parameter on which my condition should be based on ?

[2018-01-02 14:53] maurelio1979 commented on #6535
Hi!

I managed to work this out by saving the file in Assets folder (under a new folder named Content I created) and then accessing it using Windows.ApplicationModel.Package.Current.InstalledLocation (as per https://blogs.msdn.microsoft.com/metroapps/2012/07/15/access-your-application-assets-folder/ )

Below is the code snippet which saves the file:

`StorageFolder localFolder = Windows.Applicatio

[2018-01-02 18:18] homberghp opened #9333 "excellent would be killer feature when adding pdf annotations"
No problem, feature request.
Being able to annotate (text, marks, scribles) and be able to save as pdf would be a killer feature for this plugin and firefox (assumin firefox is using it).

[2018-01-02 18:39] Snuffleupagus commented on #9333
As explained in the Wiki, please see https://github.com/mozilla/pdf.js/wiki/Frequently-Asked-Questions#faq-annotations, adding annotations is out-of-scope for PDF.js.

Closing as answered.

[2018-01-02 18:39] #9333 closed

[2018-01-02 20:17] timvandermeij commented on #4284
There is a pull request above which looks like the right direction, but there has been no more activity for it. If you're interested in fixing up that one, feel free to!

[2018-01-02 21:18] #9328 closed

[2018-01-02 21:38] timvandermeij commented on #4284
There is a pull request above which looks like the right direction, but there has been no more activity for it. If you're interested in fixing up that one, that sounds good. I'll ask if the original author is still planning to work on it.

[2018-01-03 07:28] ClarkXia commented on #9176
I have the same problem with pdf file here:
[test.pdf](https://github.com/mozilla/pdf.js/files/1599652/test.pdf)

[2018-01-03 07:40] yurivict opened #9334 "Fails to load the specific pdf URL in all browsers"
This URL fails in Firefox 57.0.3 and Chromium  61.0.3163.100
[code]

In Firefox, it says:
[code]

In Chromium, it says:
[code]

The pdf URL itself is obviously valid, and is loaded into browsers fine.
I am pretty sure pdfs from this site used to work with PdfJs fine before.

[2018-01-03 08:26] gHensges commented on #9285
Is there any progress made on this issue or do I have to go for an alternative renderer?

[2018-01-03 09:37] THausherr commented on #9333
This guy has something:
http://tech.chitgoks.com/2015/03/30/how-to-create-annotations-in-pdf-js/

[2018-01-03 10:42] Snuffleupagus commented on #9166
Closing, since this should be fixed in Angular now; see https://github.com/angular/zone.js/pull/980.

[2018-01-03 10:42] #9166 closed

[2018-01-03 15:46] illumna76 commented on #9296
I left for the holidays and am now back. This isn't my custom implementation of the viewer. This was downloaded from your site. I will attempt to make a version I can put on our public domain.

[2018-01-03 16:48] himanish-star commented on #9200
@timvandermeij , I think I can solve this issue. If you permit, may I ?

[2018-01-03 21:57] timvandermeij commented on #9334
In the console I get the following message: `Loading of mixed active content ‘http://sci-hub.la/downloads/8eee/10.1038@s41561-017-0044-x.pdf’ blocked` (or similar wording because I translated this from the Dutch UI). This is to be expected, because it's a cross-domain request, which is blocked by the browser by default. Closing as answered.

[2018-01-03 21:57] #9334 closed

[2018-01-03 21:58] timvandermeij commented on #9285
The pull request above contains a fix, but it is not yet merged.

[2018-01-03 21:59] timvandermeij commented on #9200
Since this is a change in the UI, I'd suggest talking this over with `yury` or `bdahl` on IRC first to check what should be done exactly and if this is something we want to fix,

[2018-01-03 23:02] nschwan94 commented on #9043
sorry guys, this ended up being a messed up webpack config on my part. turns out when all the signs point to a configuration issue... it's not a dependency issue.

[2018-01-03 23:34] himanish-star commented on #9200
@timvandermeij , yeah sure, I'll wait.

[2018-01-04 02:07] svenyonson opened #9337 "pdf.worker.js version mismatch"
Problem: Whenever there is a new build of pdf.worker.js, it breaks my page because the pdf.js that I load is older than the current pdf.worker.js.

If I include `https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.246/pdf.min.js`, it will then load http://mozilla.github.io/pdf.js/build/pdf.worker.js, which is now at 2.0.250. How can I pre-empt having pdf.js load pdf.worker.js and instead explicitly

[2018-01-04 03:25] yurydelendik commented on #9337
Why it does not load https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.246/pdf.worker.min.js ? There is no reason to load pdf.js and pdf.worker.js from different locations. Please adjust logic in your html file to load these files from the same location. Closing as answered.

[2018-01-04 03:25] #9337 closed

[2018-01-04 10:37] shandy101 opened #9338 "Extract tables from PDF and store it in JSON"
My use case is , I have to extract text from PDF.The problem is I have  to do it from the buffer. My file location is S3 so I will get the file as a buffer. I have tried various plugins built on this  those are not giving up satisfactory result. All my PDF files will have table. These tabular coloums will have to extracted  But, [I am following this](https://github.com/mozilla/pdf.js/blob/master/e

[2018-01-04 12:35] Snuffleupagus commented on #9338
The PDF specification has no concept of tables (or similar structures), and the contents of a page simply consists of a series of operators. Hence there's not going to be any easy to achieve what you want here.

Closing as invalid.

[2018-01-04 12:35] #9338 closed

[2018-01-04 14:18] svenyonson commented on #9337
I tried this and it does  not work.  You can see that I explicitly load both files from the distribution, and then further down, pdf.worker.js is loaded again from mozilla.github.io. It will work one day and then fail when mozilla.github.io has a newer build.
![pdf js](https://user-images.githubusercontent.com/369966/34567407-618399b4-f11f-11e7-8488-7505de6e4be6.png)

[2018-01-04 14:29] yurydelendik commented on #9337
If you are loading pdf.worker.js via script tag in html stop doing it.

That's not supposed to happen. If PDFJS.workerSrc is specified, it supposed to load worker from specified location.

[2018-01-04 16:24] bansalnitish commented on #9184
@timvandermeij I would like to work on this issue. Can you just suggest what color are you looking for ?

[2018-01-04 19:16] bansalnitish commented on #9199
@timvandermeij May I work on this !

[2018-01-04 21:25] timvandermeij commented on #9199
@bansalnitish It's yours!

[2018-01-04 21:26] timvandermeij commented on #9184
Let's first talk this over on IRC with `yury` or `bdahl` to see if this is actually something we want to fix. Personally I find the current color just fine.

[2018-01-04 21:47] Snuffleupagus commented on #9199
Most of this is already available through the debugger, see https://github.com/mozilla/pdf.js/wiki/Debugging-pdf.js, since this isn't something that most users will ever care about.
However, I'd personally question if it's really worth all the added complexity of giving this a more prominent place in the default viewer UI.

[2018-01-05 00:34] unicorn82 commented on #9306
Any comments or suggestion for this issue?

[2018-01-05 02:18] patricktokeeffe commented on #6958
fwiw I haven't encountered this since reporting. :)

[2018-01-05 10:02] Vinmj commented on #2373
Any updates on supporting LiveCycle PDF Documents?

[2018-01-05 11:09] hubgit opened #9341 "Double-click to select a word at start/end of line also selects adjacent word on previous/next line"
## Steps to reproduce the problem:
1. Open [the demo PDF viewer](https://mozilla.github.io/pdf.js/web/viewer.html).
2. Double-click a non-hyphenated word at the start or end of a line to select it.

## What is the expected behavior?

Only the double-clicked word should be selected.

## What went wrong?

Adjacent words on the previous/next lines are also included in the selection.

![pdfjs-word-sel

[2018-01-05 11:37] Rob--W commented on #8632
Can you please tell me the specific parameter on which my condition should be based on ?

For example, you can check whether a certain parameter is set in the query string (`location.search`), and set this parameter from `test.js`. For an example of how a parameter can be set via the command line, take a look at the definition of `testFilter` and `testfilter` in `test/test.js`, and its usage in `t

[2018-01-05 11:51] Snuffleupagus commented on #9341
Closing as duplicate of the aforementioned issues.

[2018-01-05 11:51] #9341 closed

[2018-01-05 12:52] NawfelBgh commented on #6634
I had the same problem when using PDFJS with browserify.

My solution was

* src/pdf.js

[code]

* src/pdf.worker.js

[code]

* src/index.js: My code which uses PDFJS without using require since it's exported in window.PDFJS which smells.

* package.json

[code]

[2018-01-05 18:22] bansalnitish commented on #9199
@Snuffleupagus Can you just get me started on this ?

[2018-01-05 21:55] #9116 closed

[2018-01-05 23:41] Hirse opened #9342 "Hide Download Button when loading PDF from 'file://'"
Configuration:
- Web browser and its version: Firefox 57
- Operating system and its version: Win 10
- PDF.js version: 1.9.583
- Is a browser extension: Yes

Steps to reproduce the problem:
1. Open a local PDF file with Firefox

What is the expected behavior?
Hidden Download Button as the file I am looking at is already on my computer.
![2018-01-05_15-39-54](https://user-images.githubusercontent.co

[2018-01-06 04:14] himanish-star commented on #9342
@timvandermeij , Could I work on this issue ?

[2018-01-06 05:53] Maiestas28 commented on #6396
Hey guys, im new to OSS and this would be my first contribution. The tag looks open. How can i contribute and any guidance is very much needed and much appreciated. Thank you.

[2018-01-06 11:24] bansalnitish commented on #9306
@Snuffleupagus May I work on this!

[2018-01-06 12:17] Rob--W commented on #6396
See https://github.com/mozilla/pdf.js/issues/6396#issuecomment-135866793

I have recently written a simple yet complete Content-Disposition parser, its functionality can be reused: https://github.com/Rob--W/open-in-browser/blob/master/extension/content-disposition.js

[2018-01-06 13:24] timvandermeij commented on #9342
Yes, it's yours.

[2018-01-06 13:25] timvandermeij commented on #9306
This has to do with the positioning of the text layer. I tihnk there are some similar issues regarding this behavior, but someone needs to check if they share the same cause.

[2018-01-06 13:26] timvandermeij commented on #6396
Note that there is already a pull request for this issue above (and it's almost finished), hence I would suggest working on another issue instead.

[2018-01-06 13:28] himanish-star commented on #9342
Ok, cool. I'll start working on this.

[2018-01-06 15:20] shikhar-scs commented on #9322
So, this issue is closed now ?

[2018-01-06 18:16] Maiestas28 commented on #6396
Got it. Thank you.

On Sat, Jan 6, 2018 at 8:26 AM Tim van der Meij <notifications@github.com>
wrote:

[2018-01-07 04:45] himanish-star commented on #9342
@timvandermeij , I have a few doubts. Well I know that we can build pdfJS using ```gulp generic``` and now that when I was going through the `gulpfile.js` I found out that the gulp generic command only compiles from the web/ folder . So does that mean the src/ folder has no role to play here. I am bascially having difficulty in understanding the difference between the two folders src/ and web/. Co

[2018-01-07 09:31] shikhar-scs commented on #8632
@Rob--W I did manage to create a similar parameter in the `tests.js`  (by imitating the testFilter parameter), however, incorporating it in the `test/test_slave.html` is still a prob for me. For the rest of the changes please visit the PR again, I have pushed new commits. #9308

[2018-01-07 13:25] timvandermeij commented on #9322
No, we'll keep it open until that pull request is merged.

[2018-01-07 13:30] timvandermeij commented on #9342
The `gulp generic` command creates a generic build of PDF.js, both core and viewer. At https://github.com/mozilla/pdf.js/blob/a3b2456c7a33811010961ee111c58554dbc74ffc/gulpfile.js#L593 we make the core bundle and at https://github.com/mozilla/pdf.js/blob/a3b2456c7a33811010961ee111c58554dbc74ffc/gulpfile.js#L594 we make the web bundle.

The difference between `src/` and `web/` is that `src/` contain

[2018-01-07 13:42] shikhar-scs commented on #9322
Oh ok Thanx for replying :+1:

[2018-01-07 14:08] McKabue opened #9344 "Pdf viewer shows black patches in pages"
Attach (recommended) or Link to PDF file here:
https://curriculum.co.ke/vendors/pdf.js/web/viewer.html?file=/viewfile/f811298f-2436-4842-a785-8b3357c05c9e.pdf

Configuration:
- Web browser and its version: Version 63.0.3239.132 (Official Build) (64-bit)
- Operating system and its version: Windows 10, version 1709
- PDF.js version: downloaded today with npm napa - "pdf.js": "git://github.com/mozill

[2018-01-07 14:53] McKabue commented on #9344
updating the pdf.js to the latest repository in gh-pages solved the fault...

[2018-01-07 14:53] #9344 closed

[2018-01-07 16:54] himanish-star commented on #9342
@timvandermeij , Thanks for the explanation

[2018-01-07 19:43] photopea commented on #8966
It would be great to let people use JPEG decoder in a comfortable way, without attaching the rest of pdf.js.

My idea was to maintain the JPEG decoder separately from pdf.js (without any references to PDF) and provide a nice interface for it. Pdf.js would just "import" it as a black box, just like other users of that JPEG decoder would do.  It would make this repository cleaner.

But exporting thi

[2018-01-08 06:32] qwer1304 opened #9346 "Can't save pdf"
Attach (recommended) or Link to PDF file here: https://cdn1.sph.harvard.edu/wp-content/uploads/sites/1268/2017/03/hernanrobins_references.pdf

Configuration:
- Web browser and its version: Chrome Version 65.0.3314.0 (Official Build) canary (64-bit), Chrome Version 65.0.3311.4 (Official Build) dev (64-bit)
- Operating system and its version: Windows 10 10.0.16299 Build 16299
- PDF.js version: 1.8.5

[2018-01-08 10:32] fitojb commented on #9184
I won’t be able to use IRC with you guys, but a more permanent medium (such as a GitHub issue _wink_ would be great, as it’s not constrained by timezones and stuff. I bet this will get reworked anyway if you ever implement more Quantum-like visuals.

[2018-01-08 11:01] SamyCookie commented on #6967
For reference, some images at page 6-8-10-14 are still missing.

[2018-01-08 12:46] pedropcruz commented on #9066
Well, i have same problem here:

--> bower install pdfjs-dist

and when i use require on this pdf, i obtain undefined. why?

[2018-01-08 16:01] allandaly commented on #7287
Thank you @dmaxweiler! I struggled with the same issue -- I was having trouble getting pdf.js to load correctly when using RequireJS also. Your solution worked for me! Awesome. Thanks for your help.

[2018-01-08 17:08] danlester opened #9347 "Text duplicated in wrong location on iPhone Safari"
This PDF displays correctly on the desktop browsers we've tried, including Safari on Mac:

[A3-Menu-Leaflet-lr.pdf](https://github.com/mozilla/pdf.js/files/1612374/A3-Menu-Leaflet-lr.pdf)

I've been trying it on the latest version of the pdf.js test viewer at https://mozilla.github.io/pdf.js/web/viewer.html

On Safari 11.0.2 for desktop Mac, for example, it looks like this:

![screen shot 2018-01-

[2018-01-08 18:01] valeriysuhorukov commented on #9295
I also have this problem, tell me the solution?

[2018-01-09 07:14] nurtureJamesTan commented on #7072
why is this function not in page element?

[2018-01-09 08:14] hubgit commented on #8408
This issue also occurs in single-column PDFs (see #9341).

[2018-01-09 12:03] yashamon commented on #6847
I just retested and was definitely moved back to page one on reload. This
is with chrome browser if that makes a difference. And still working
remotely with http-server.
By the way sharelatex, rstudio and others are using pdf.js backends and
have solved this issue already apparently. Could we not just ask them to
contribute a patch?

On Sun, Dec 31, 2017 at 7:18 AM, Yasha Savelyev <yasha.savelyev@

[2018-01-09 14:53] EricG-Personal opened #9348 "Adding print button to component examples"
If I am correct, the component examples would demonstrate how I can take PDF.js and wrap it in a React component.

Currently, the component examples do not include the print button, etc. of the HelloWorld example.

What would be involved to in order to get the print button to show up for one of the component examples?

[2018-01-09 16:52] mattmcardle commented on #7958
Is there any update on this? I have similar issue with users reporting "IndexSizeError" appearing in IE11.

[2018-01-09 18:11] janpe2 commented on #6563
Pull request #8627 has fixed this issue. There are no longer glyphs that have zero width. They caused the problem in Firefox.

[2018-01-09 18:21] yurydelendik commented on #6563
Thanks. We can close it here due to workaround.

[2018-01-09 18:21] #6563 closed

[2018-01-09 19:22] #9262 closed

[2018-01-09 20:23] timvandermeij commented on #9348
The hello world example (refer to https://mozilla.github.io/pdf.js/examples/index.html#interactive-examples) also has no print button. This button is only in the default viewer in the `web/` folder. Including that is definitely not part of the components examples, which allow you to create a basic viewer yourself for people who don't want to have all functionality of the default viewer. Printing i

[2018-01-09 20:23] #9348 closed

[2018-01-09 20:38] timvandermeij commented on #8803
Isn't it much easier to just use the default viewer and run `PDFViewerApplication.preferences.set('renderer', 'svg');` in the console? After a refresh, it will be using the SVG back-end. That's how I use the SVG back-end for development.

[2018-01-09 20:43] timvandermeij commented on #8867
Closing since this is expected. The SVG back-end calculates the positioning of the glyphs given the font data in the PDF file. If you change the font size, these calculations become invalid.

[2018-01-09 20:43] #8867 closed

[2018-01-09 20:44] Rob--W commented on #8803
That could work for environment-agnostic logic, but not when debugging issues that are specific to Node.js, e.g. the absence of mocked DOM APIs, or conditional logic for Node.js such as:
https://github.com/mozilla/pdf.js/blob/5a52ee0a795ca41f27ede587dc494cd304dc81e1/src/display/svg.js#L108-L141

[2018-01-10 00:59] brendandahl commented on #9347
Some warnings from the simulator console:

[code]

from putBinaryImageData canvas.js:513
and
CachedCanvases_getCanvas canvas.js:320

[2018-01-10 03:22] alexyuriev commented on #6498
Rubbish. It is still not fully functioning, with or without the workaround even in 45.9.0 under Debian 8. Preview looks correct all the time. In Print fonts do not load properly 80% of the time.

[2018-01-10 09:23] ArnoldFabasoft commented on #5264
We had the same issue in our integration of pdf.js. We implemented the workaround of tbasse for internet explorer. Thanks @tbasse
Will this fix or an other implementation find a way into pdf.js? I want to modify the original code as less as possible.
Thx Stefan

[2018-01-10 10:51] kejsiStruga commented on #4432
Hi, can you use the download button on iPad ?
Thank you

[2018-01-10 12:18] kejsiStruga commented on #7597
How do you get the download to work on iPad???

[2018-01-10 14:17] blackmambahk opened #9351 "Invalid State Error"
Issue is specific to Mac Safari.
Renders ok in Chrome on Mac and WIndows

Using PDFJS 1.6.263
Compatibility is loaded

Safari 11.02
macOS HighSierra

DOM Exception 11 - drawImage line 7192.

Attach (recommended) or Link to PDF file here:
[Test.pdf](https://github.com/mozilla/pdf.js/files/1619083/Test.pdf)

The error seems to eventually go away after several attempts to reload, so it maybe connecte

[2018-01-10 20:15] timvandermeij commented on #4432
@kejsiStruga Please don't post unrelated comments on issues.

[2018-01-10 20:56] Snuffleupagus commented on #9351
That version is quite old, and also not an official release. Please test this with the *latest* version, which can be found at https://github.com/mozilla/pdf.js/releases, to ensure that this issue is still present.

[2018-01-10 23:25] Fabusuyi012 opened #9354 "Warning: Setting up fake worker - PDF.js in JavaFX"
I want to render a pdf in a JavaFX webview using pdf.js.

Luckily, I was able to overcome a lot of errors by trial and error up till now when I have no idea what's going on.
Upon running my project, [object ArrayBuffer] **Warning: Setting up fake worker.** are logged to my console. The webview is then displayed with the pdf.js appearing as it does in the Mozilla browser, but in the case, the PDF I

[2018-01-10 23:32] Fabusuyi012 commented on #9354
When I thought I had made this post for help, I inspected the viewer.js file thoroughly, and lo, problem solved.. The way the path was referenced in he viewer.js isnt an accepted file referencing in this kind of context in Java, so I had to only change it. Thanks Mozilla team, I hope to build some dev tool on this free tool you guys have given me.

[2018-01-11 03:36] suconghou commented on #9022
same problem here on Chrome , anybody who know how to solve  it ?

[2018-01-11 05:34] BrianNgo commented on #6847
I can confirm this problem is reproducible. Not only the page moved back, the zoom also got reset. I suspect this may be due to the hash got changed when we modified the file.

[2018-01-11 05:49] Jolo510 commented on #6847
@timvandermeij Is this up for grabs? I'd like to take a crack at it!

[2018-01-11 08:27] glittle2638 commented on #6847
I can't figure it out

[2018-01-11 09:12] andreip commented on #6847
@BrianNgo Did you work on local, with the code, or how did you test this out? Could you give some step-by-step reproducing info?

@yashamon could you explain more your setup? It might be dependent on that, since when I tried running a local server and accessing it at localhost (e.g. `http://localhost:8888/web/viewer.html?file=/andrei_test/a4.pdf`), I couldn't reproduce this. I was also using chrom

[2018-01-11 10:59] pironim opened #9355 "PDF Font size displaying incorrectly"
I test attached PDF on different platforms. And font size looks bigger than it should be in browser vs standalone app.
[Infosec Rain Phishing.pdf](https://github.com/mozilla/pdf.js/files/1622160/Infosec.Rain.Phishing.pdf)

Several examples:

**Configuration 1(Linux):**
- Ubuntu 16.04 Linux 4.4.0-104-generic #127-Ubuntu SMP Mon Dec 11 12:16:42 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
- Google Chrome

[2018-01-11 11:10] Welquer commented on #8995
Hi @GaikwadVikas. Did you find any solution?

[2018-01-11 12:00] #9354 closed

[2018-01-11 12:55] Rob--W commented on #6847
The issue here is that the file changed only slightly, but the hash changed completely. For the purpose of testing, the actual PDF content does not matter, you only need to ensure that the PDFs that you are testing have different hashes.

To reproduce more reliably, you could take a set of completely unrelated PDF files (e.g. the PDFs in `test/pdfs/`), and overwrite a PDF file before reloading PDF

[2018-01-11 14:23] Shinkan opened #9357 "Poor print quality of precise pattern compared to Acrobat DC"
Attach (recommended) or Link to PDF file here:
[FontDots.pdf](https://github.com/mozilla/pdf.js/files/1622816/FontDots.pdf)

Configuration:
- Web browser and its version: FF 57.0.4
- Operating system and its version: W10
- PDF.js version: latest, downloaded today
- Is a browser extension: problem occurs both as web extension and as installed locally.

Steps to reproduce the problem:
1. open the pd

[2018-01-11 15:45] BrianNgo commented on #6847
@andreip Yes, I am testing it on local with Chrome. What I did is open the pdf similar to what you had: http://localhost:8888/web/viewer.html?file=/andrei_test/a4.pdf. Then I used libreoffice to modify the file and exported it. Refreshed the page and the bug happened.

[2018-01-12 12:45] rob-murray opened #9358 "Broken URL polyfill"
The **URL** polyfill has a couple of issues:

1) The check for native **URL** API is incorrect - it fails on Safari >9 when this has a perfectly good native implementation
2) The polyfill is incomplete and missing (afaict) **searchParams**

I use **pdf.js** in an application and the **URL** web api in various places, on Safari this is broken because the polyfill from this library is used instead o

[2018-01-12 12:50] Snuffleupagus commented on #9358
For reference, this part is already tracked in issue #8726.

[2018-01-12 13:00] rob-murray commented on #9358
Sorry, I missed that one when searching for existing issues... feel free to close this then if its already got an open issue.

[2018-01-12 13:03] rob-murray commented on #8726
This URL polyfill breaks some other parts of my application - my temporary work-around for this is to include another polyfill after pdf.js is required so older browsers (and safari) is polyfilled twice but ends up with a working version!

[2018-01-12 13:14] Snuffleupagus commented on #9358
No worries; #8726 only seem to concern the `searchParams` issue, but the *first* part of this issue would appear separate (and thus valid) on its own:

The following checks are used to determine if a browser has native `URL` support.
https://github.com/mozilla/pdf.js/blob/5a52ee0a795ca41f27ede587dc494cd304dc81e1/src/shared/compatibility.js#L189-L207

[2018-01-12 14:19] rob-murray commented on #9358
Safari seems to encode the **%** so `u.href` above is `http://a/c%2520d`, as a result that check is false - I don't know why Safari does this and if it is actually incorrect or even if it matters. The implementation of the polyfill in this library evaluates this check to be true, as does chrome, firefox, etc.

[code]

[2018-01-12 16:40] dlyahov commented on #8521
Are there any updates on this issue?

[2018-01-12 17:23] Jolo510 commented on #6847
@andreip Awesome! I'll see if I repo it locally.

[2018-01-12 17:30] dalin- opened #9359 "Magazine PDF with side-by-side pages renders off-screen"
Attach (recommended) or Link to PDF file here:
https://www.aclu.org/sites/default/files/field_document/aclu_stand_mag_summer_2015.pdf

**Configuration:**
- Web browser and its version: FF 58, but it doesn't seem to matter.
- Operating system and its version: OSX 10.13, but it doesn't seem to matter.
- PDF.js version: 1.10.88, but that doesn't seem to matter either
- Is a browser extension: No

**S

[2018-01-12 19:39] brendandahl commented on #9359
I haven't looked to deeply yet, but I think it's because we base page-fit off the size of the first page. We could probably do something smarter and look at subsequent page sizes.

[2018-01-12 21:01] #9285 closed

[2018-01-13 14:54] timvandermeij commented on #9351
Closing until the information requested above is provided.

[2018-01-13 14:54] #9351 closed

[2018-01-13 16:50] Shinkan commented on #9357
Anyone?
Mozilla killing off Adobe Reader plugin for Firefox has caused a huge problem in one of our projects. We have to make it work with PDF.js (or alternative if possible) somehow..

[2018-01-13 21:09] Rob--W opened #9361 "Cannot view local files in Chrome extension with fetch API"
I have built the latest version of the extension, and tried to open a local PDF file. It won't open, the console shows the following error:

To fix this, the Chrome extension must only use PDFFetchStream for http(s) schemes, and PDFNetworkStream for other schemes (file, ftp).

[2018-01-13 21:09] Rob--W commented on #9264
I reproduced the issue of not being able to open local files, and created a new issue here: #9361

The warning about `fileBrowserHandler` can be ignored, so I'll close this issue.

[2018-01-13 21:09] #9264 closed

[2018-01-13 21:16] mukulmishra18 commented on #9361
I don't think this is just a chrome specific issue. We can't use `fetch` to open local file as we do with `XHR`. So maybe firefox will also give same issue while opening local files?

[2018-01-13 21:20] Rob--W commented on #9361
@mukulmishra18 When you talk about "Firefox", are you referring to the built-in viewer of Firefox?
(The current Firefox add-on of the project does not work in the latest Firefox (57) because it is not written using the WebExtensions API.)

[2018-01-13 21:36] mukulmishra18 commented on #9361
Yes, right.

[2018-01-13 21:38] Rob--W commented on #9361
But the built-in viewer in Firefox doesn't use `fetch`, does it? The logic responsible for switching to the `fetch` implementation is disabled for the Firefox build: https://github.com/mozilla/pdf.js/blob/master/src/pdf.js#L32-L41

[2018-01-13 21:44] mukulmishra18 commented on #9361
Oh! I got it. Sorry.

[2018-01-14 08:07] qwer1304 commented on #9346
Looks like it's been fixed as of Chrome Version 65.0.3321.0 (Official Build) canary (64-bit)

[2018-01-14 08:07] #9346 closed

[2018-01-14 14:41] #9020 closed

[2018-01-15 07:10] shikhar-scs commented on #8018
If this issue is still up can I take it please ?

[2018-01-15 07:13] himanish-star commented on #9103
@timvandermeij , Can I try this issue ?

[2018-01-15 08:27] ousia commented on #8720
@greenjaed, using Fedora 26 with the same version of Firefox (57.0.4), I get a PDF with images (resulting in a huge file).

It seems either your PDF printer or PDF.js aren’t able to find the right fonts. Could you check it with another PDF printer?

[2018-01-15 08:34] shikhar-scs commented on #8987
If this issue is still up, may I work on it please?

[2018-01-15 09:28] mukulmishra18 commented on #8987
@shikhar-scs it is yours!

[2018-01-15 09:37] shikhar-scs commented on #8987
@mukulmishra18 as you have previously worked with `pdf.js`, so I guess you are sure that ` use decodeURIComponent instead of decodeURI` will make the required changes. Correct ? do we need to do something more than this ?

[2018-01-15 10:25] mukulmishra18 commented on #8987
I think it should solve the problem as `decodeURI` may ignore some of the special characters. But I would suggest to go through the documentations([decodeURI](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/decodeURI) and [decodeURIComponent](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/decodeURIComponent)) and read the differenc

[2018-01-15 13:54] shikhar-scs commented on #8987
@mukulmishra18
I tried doing the same, changed the `decodeURI` keyword to `decodeURIComponent`. Then ran `gulp chromium`, added it as an extension to chrome and tried opening a file whose name contained `#` but the `file not found` error persisted.

I had made the changes here
https://github.com/mozilla/pdf.js/blob/237bc2ef9df204069c4996e14433e0a35123444a/src/display/node_stream.js#L368

and here

[2018-01-15 14:12] mukulmishra18 commented on #8987
If you try to decode any url that contains `%23` in it, using `decodeURIComponent` then it will decode just fine. So I think this should solve the problem.

Also note that you are using chrome extension, so `node_stream` was never used, because it is intended to use in node environment. I will suggest to create a node app that uses pdf.js and see if problem still persists.

[2018-01-15 14:18] shikhar-scs commented on #8987
Thank you so much information and also for your help.

[2018-01-15 15:31] shikhar-scs opened #9365 "introduce PULL_REQUEST_TEMPLATE.md"
This issue is not an issue with some pdf and that is why I have not followed the TEMPLATE format.

As a good practice I guess, there must be some PR template too, similar to the `ISSUE_TEMPLATE` maybe because often the filed PRs contain insufficient information and thus prolongs/wastes important time later on.

A `PR template` exists on almost major repositories across github and thus, it would on

[2018-01-15 17:00] Snuffleupagus commented on #9365
In those cases, the problem is usually with the *commit message* of the patch itself rather than the PR, since by default (in GitHub) the contents of the commit message becomes the PR contents.

It's not (generally) sufficient if the PR itself contains useful information, but that information must be present in the *commit message* as well, such that it's possible to get a basic understanding of w

[2018-01-15 17:18] THausherr commented on #6810
This one has diagonal annotations. A strategy that assumes them to be horizontal will result in weird effects (try showing the file in chrome in the built-in viewer or on an Android phone with the google viewer)
https://bugs.ghostscript.com/show_bug.cgi?id=693664

[2018-01-15 17:26] Snuffleupagus commented on #9103
Since this issue can be observed in two different browsers, are we sure that this isn't an problem with the Fetch standard[1] itself?
If it's a Fetch standard limitation, or perhaps a browser one, then I'm not sure if we'd be reasonably able to fix this in the PDF.js library.

---
[1] This looks like the relevant part of the specification: https://fetch.spec.whatwg.org/#terminology-headers

[2018-01-15 17:45] himanish-star commented on #9103
Basically while using the `Firefox` browser `total` is defined in this manner
https://github.com/mozilla/pdf.js/blob/237bc2ef9df204069c4996e14433e0a35123444a/src/display/network.js#L427
and while using `Chrome` `total`is defined in this way because it uses the `fetch_stream`
https://github.com/mozilla/pdf.js/blob/237bc2ef9df204069c4996e14433e0a35123444a/src/display/fetch_stream.js#L152
So basicall

[2018-01-15 18:52] mukulmishra18 commented on #9103
In `fetch_stream` we are setting `this._contentLength = source.length` [here](https://github.com/mozilla/pdf.js/blob/237bc2ef9df204069c4996e14433e0a35123444a/src/display/fetch_stream.js#L74) and both `source.length` and `data.total` are logically same things. So I don't think doing the way you are thinking going to solve the problem.

[2018-01-15 19:59] shikhar-scs commented on #9365
Then maybe we can introduce a `standard commit format`, something like what `mozilla/fxa-content-server` implements. But that would be more of a task as a commit is a multiple-time thing but pull requests are more or less a one-time thing. On a shorter note, I would strongly want if either one of these exist.

[2018-01-15 21:06] #8987 closed

[2018-01-16 00:27] himanish-star commented on #9103
@mukulmishra18 , ok let me look into this.

[2018-01-16 03:26] VepariSafin opened #9366 "how to disable right click on PDF viewer"
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version:
- Operating system and its version:
- PDF.js version:
- Is a browser extension:

Steps to reproduce the problem:
1.
2.

What is the expected behavior? (add screenshot)

What went wrong? (add screenshot)

Link to a viewer (if hosted on a site other than mozilla.github.io/pdf.js or as Firefox/Chrome extensi

[2018-01-16 11:19] gHensges opened #9367 "pdf rendered completely wrong"
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version: Chrome 63.0.3239.132
- Operating system and its version: Windows 10
- PDF.js version: using your official demo project
- Is a browser extension: No

Steps to reproduce the problem:
1.  Just load attached pdf
2.

What is the expected behavior? (add screenshot)
[E-WG18_105147.pdf](https://github.com/mozilla

[2018-01-16 12:13] Snuffleupagus commented on #9366
This doesn't appear to be a PDF.js issue, but rather a general JavaScript question; although considering the lack of *any* details it's somewhat difficult to understand what the purpose is here.

That said, using a search engine of your choice (with a simple "disable right click" query) brings up a wealth of useful information, for example: https://stackoverflow.com/questions/737022/how-do-i-disab

[2018-01-16 12:13] #9366 closed

[2018-01-16 13:28] StevenLiekens commented on #7909
I tried using the typings from DefinitelyTyped but they are so bad it's laughable. (laugh so you don't cry)

These are the latest typings (they were moved): https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/pdfjs-dist/index.d.ts

Here's how you would use the them:
[code]

Do you see how you have to import an imaginary `PDFJSStatic` type and then create a variable without initial

[2018-01-16 14:56] AforAnonymous commented on #9121
@dmichon-msft will you and/or MSFT originate an appropriate pull request?

[2018-01-16 15:11] dalin- commented on #9359
So that I can go back to my client with the full range of possible options, does this project have a bug bounty program?  Formal or otherwise?  The only other offer of a bounty that I could find is
https://github.com/mozilla/pdf.js/issues/2594#issuecomment-232006047
And it's not clear whether or not the bounty was actually claimed.

[2018-01-16 16:55] txinfo commented on #8908
@timvandermeij  @Snuffleupagus

Actually on iOS it appears a polyfill is forced. Can you consider reopening this issue?

`
  if (isIOS) {
    // requestAnimationFrame on iOS is broken, replacing with fake one.
    installFakeAnimationFrameFunctions();
    return;
  }
`

from https://github.com/mozilla/pdf.js/blob/6521d2fd941f26a1b7ae9b97f71842e49f5ff241/src/shared/compatibility.js#L571-L575

[2018-01-16 17:36] yurydelendik commented on #8908
Opened project/proposal at https://github.com/mozilla/pdf.js/projects/6

[2018-01-16 18:55] himanish-star commented on #9103
@mukulmishra18 , could you explain when is the `PDFFetchStream` `constructor` called. I just want to see from where is the argument `source` passed. As `source.length` turns out to be `undefined`

[2018-01-16 19:10] Snuffleupagus commented on #8908
Considering that the `requestAnimationFrame` polyfill was removed in PR #9138 (in preparation for PDF.js version `2.0`), I'm not sure what purpose re-opening this issue would serve!?

[2018-01-16 20:03] brendandahl commented on #9359
There's no formal bug bounty program. I do believe the one you referenced above was claimed though.

[2018-01-16 21:02] mukulmishra18 commented on #9103
First we are setting `PDFNetworkStream` at https://github.com/mozilla/pdf.js/blob/237bc2ef9df204069c4996e14433e0a35123444a/src/pdf.js#L35-L45

based on the environment and support for stream. So if streaming is supported by the browser then `PDFNetworkStream` is `PDFFetchStream`.

After this we are calling this constructor with all the provided `params` from: https://github.com/mozilla/pdf.js/blob

[2018-01-16 21:48] brendandahl commented on #9359
Somewhat off topic... I'm not sure what the intentions of the above site, but if it's purely for viewing the PDF online, you (or your client) may want to export that PDF as a PDF optimized for the web. It looks like some of the images in it have a really high DPI and could be much smaller if it only needs to be shown online.

[2018-01-17 00:39] Thj007 opened #9370 "Pdfjs width and header of page"
1.what can I get messages of the file of pdf，such as header of page，bottom of page
2.why the viewport.width aways bigger of the width of canvas？

[2018-01-17 02:19] yurydelendik commented on #9370
PDF document don't have information about what's header or bottom. You have to use getTextContent and detect it yourself.

Not true. You can create a canvas that is bigger than viewport.width, or create viewport with smaller scale.

Closing as answered.

[2018-01-17 02:19] #9370 closed

[2018-01-17 06:51] ruchiverma6 opened #9371 "Need Mobile Version of PDF.js for display inline PDF inside app"
**I need Mobile Version of PDF.js for display inline PDF inside app.**

I found one link for Mobile PDF.js support:
https://wiki.mozilla.org/Mobile/Projects/PDF.js_support

But there is no mobile version of PDF.js at that link.

I found following at github:
https://github.com/mozilla/pdf.js/tree/master/examples/mobile-viewer

I tried to integrate it in mobile app code for inline PDF display. But u

[2018-01-17 08:03] nerverBeenEasy opened #9372 "How to migrate pdf.js to electron framework"
Hello pdf.js authors!

As the project describes, the pdf.js is normally used to render PDF in web, it performs well and outstandingly.
My question is that is it possible to migrate pdf.js to ELECTRON framework and render the PDF in desktop application? If yes, what is the basic procedures to achieve this task ?

Thank you so much!

[2018-01-17 12:57] Snuffleupagus commented on #9372
It might be possible, but that's out-of-scope for the PDF.js project. Furthermore I don't think that any of the core contributors are experts in Electron.

Finally, please note that these sort of broad questions (and requests for help) are unfortunately not really actionable; refer to [CONTRIBUTING.md](https://github.com/mozilla/pdf.js/blob/master/.github/CONTRIBUTING.md) from which I'm quoting th

[2018-01-17 12:57] Snuffleupagus commented on #9372
It might be possible, but that's out-of-scope for the PDF.js project. Furthermore I don't think that any of the core contributors are experts in Electron.

Finally, please note that these sort of broad questions (and requests for help) are unfortunately not really actionable; refer to [CONTRIBUTING.md](https://github.com/mozilla/pdf.js/blob/master/.github/CONTRIBUTING.md) from which I'm quoting th

[2018-01-17 12:57] #9372 closed

[2018-01-17 13:31] FranklinSilva commented on #9371
This article must help you with your issue

https://docs.telerik.com/platform/knowledge-base/how-to/how-to-open-pdf-in-app

[2018-01-17 13:58] yurydelendik commented on #9371
Thanks. Closing as answered.

[2018-01-17 13:58] #9371 closed

[2018-01-17 14:41] ale00 opened #9373 "pdf2png error using a file that contains an Image - ReferenceError: Image is not defined"
Link to PDF file:
[QP 22 - Aprile 2016.pdf](https://github.com/mozilla/pdf.js/files/1639293/QP.22.-.Aprile.2016.pdf)

## Configuration:
- Node.js v8.9.0
- Operating system and its version: macOS 10.13.2
- PDF.js version: pdfjs-dist v2.0.269

## Steps to reproduce the problem:
1. Add attached _QP 22 - Aprile 2016.pdf_ file in `functions` folder
2. Change pdfURL in `examples/node/pdf2png/pdf2png` to

[2018-01-17 15:40] GaikwadVikas commented on #8995
No, my bad luck

On Jan 11, 2018 6:30 PM, "Welquer" <notifications@github.com> wrote:

[2018-01-17 21:15] timvandermeij commented on #9367
This file makes use of three TrueType fonts (Tahoma/Tahoma,Bold/Tahoma,Italic), none of which are embedded.

[2018-01-18 00:23] Thj007 opened #9374 "Pdf header of page"
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version:
- Operating system and its version:
- PDF.js version:
- Is a browser extension:

Steps to reproduce the problem:
1. I want to known the header of page and bottom of page，how can I known

What is the expected behavior? (add screenshot)

What went wrong? (add screenshot)

Link to a viewer (if hosted on a si

[2018-01-18 00:24] Thj007 commented on #9374
header of page

[2018-01-18 00:48] yurydelendik commented on #9374
Closing as incomplete.

[2018-01-18 00:48] #9374 closed

[2018-01-18 03:52] dalbir opened #9375 "Engineering Drawings are not rendered"
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version: **Chrome 63.0.3239.132 (Official Build) (64-bit)**
- Operating system and its version: **Windows 10**
- PDF.js version:**On Demo Site** https://mozilla.github.io/pdf.js/web/viewer.html
- Is a browser extension:

Steps to reproduce the problem:
1. **Open attached file**
[7aa0b34c-f220-45b8-854f-06eac0754c4

[2018-01-18 05:06] Jolo510 commented on #6847
I plan on getting the app running locally tonight. Then make some time in the next day or two to reproduce the bug and dig into the code.

@BrianNgo If the issue is refreshing too quickly, what would be a potential fix?

[2018-01-18 06:52] kaljak opened #9376 "Some styles in viewer.css do change styles outside of the pdf container"
I embed the pdf viewer on a website.

Some styles in viewer.css do change styles outside of the pdf container.
E.g. https://github.com/mozilla/pdf.js/blob/master/web/viewer.css#L22
https://github.com/mozilla/pdf.js/blob/master/web/viewer.css#L27
https://github.com/mozilla/pdf.js/blob/master/web/viewer.css#L34
https://github.com/mozilla/pdf.js/blob/master/web/viewer.css#L41
https://github.com/mozil

[2018-01-18 07:39] adadgio opened #9377 "Custom build for the web - Users don't get it"
Configuration:
- Web browser and its version: all
- Operating system and its version: MAC OS
- PDF.js version: 2

I am sorry if this question has already been partially answered, but here it is.

Simply trying to set up a custom webviewer with the following features:
- Simple canvas or svg rendering
- Text layers rendering

and have been through the examples in the components (simpleviewer.js, gul

[2018-01-18 08:46] nikhilweee commented on #590
It's 2018 and this has been floating around for 7 years now. Whoa! Any updates/timelines on this yet?

[2018-01-18 09:06] Snuffleupagus commented on #9376
Closing as duplicate of issue #6706.

[2018-01-18 09:06] #9376 closed

[2018-01-18 10:04] nerverBeenEasy commented on #9372
Understood. I am sorry to post this board questions (and requests for help) because it is really out of the scope of PDF.js project, thank you so much for your rely !

[2018-01-18 12:51] g19i85g opened #9378 "PDF Font displaying incorrectly"
The font spacing in this PDF doesn't look good.

[font.pdf](https://github.com/mozilla/pdf.js/files/1642824/font.pdf)

Configuration:
- Firefox Quantum 59.0b1 (64-bit) and Firefox ESR 52.0 (64-Bit)
- Ubuntu 16.04.3 LTS
- PDF.js: 2.0.250 and PDF.js: 1.6.315

What is the expected behavior?
![bildschirmfoto vom 2018-01-18 13-48-24](https://user-images.githubusercontent.com/7912187/35098977-80bdcf9c-f

[2018-01-18 13:40] Snuffleupagus commented on #9378
Closing as duplicate of issue #5550.

[2018-01-18 13:40] #9378 closed

[2018-01-18 14:02] tpanum commented on #6498
Can confirm what @alexyuriev states.

[2018-01-18 16:36] #9342 closed

[2018-01-18 18:20] dalin- commented on #9359
Thanks for your thoughts.  The current plan is to modify the PDF, and see how that works.

[2018-01-18 22:11] timvandermeij commented on #590
The pull request above your comment implements this. Anyone is welcome to help us test it out to ensure that nothing breaks.

[2018-01-18 22:24] Yetangitu commented on #590
FYI, the Reader app for Nextcloud & Owncloud now supports PDF, including the 2-page (spread) mode I mentioned. It can be found on Github:

https://github.com/Yetangitu/owncloud-apps/tree/master/files_reader

and in the Nextcloud app repository:

https://apps.nextcloud.com/apps/files_reader

It will soon appear in the Owncloud repo as well.

[2018-01-18 22:25] Yetangitu commented on #590
![image](https://user-images.githubusercontent.com/2754838/35124554-c77ec774-fca6-11e7-923b-46f520748e95.png)

[2018-01-18 22:30] timvandermeij commented on #4284
Fixed in #9379.

[2018-01-18 22:30] #4284 closed

[2018-01-18 22:30] timvandermeij commented on #6396
Fixed in #9379.

[2018-01-18 22:30] #6396 closed

[2018-01-19 04:02] crapthings opened #9380 "helloworld example can't render some .pdf that include chinese character"
it fails to render chinese character on canvas
but open with official pdf.js viewer is okay

### helloworld example

![image](https://user-images.githubusercontent.com/1147704/35134280-451493ee-fd10-11e7-8ea1-1f7fd263b1e2.png)

### pdf.js viewer

![image](https://user-images.githubusercontent.com/1147704/35134326-8e5caf6e-fd10-11e7-8e25-ac08f381933c.png)

[2018-01-19 06:49] zc95 opened #9381 "iphone6Plus (IOS 10.33) cannot run pdf.js"
The four device is
- Samsung s7e (Android 7)
- HUAWEI Pad (Android 5.1.1)
- iphone6s (IOS 11)
- iphone6Plus (IOS 10.33);

in addition to iphone6Plus (IOS 10.33), it cannot load PDF over 50MB, all other devices are normal, what is the reason?

[2018-01-19 09:19] himanish-star commented on #7725
@timvandermeij , can I work on this issue?

[2018-01-19 10:41] Snuffleupagus commented on #9380
Since most of the required information is missing, e.g. the PDF file isn't attached to the issue and no complete (runnable) example is provided, which is requested in both [ISSUE_TEMPLATE.md](https://github.com/mozilla/pdf.js/blob/master/.github/ISSUE_TEMPLATE.md) and [CONTRIBUTING.md](https://github.com/mozilla/pdf.js/blob/master/.github/CONTRIBUTING.md), the following is a best guess:
You need t

[2018-01-19 10:42] jwatt opened #9382 "Remove moznomarginboxes"
viewer.html uses moznomarginboxes, but that was removed from mozilla in:

https://bugzilla.mozilla.org/show_bug.cgi?id=1260480

[2018-01-19 15:05] #9381 closed

[2018-01-19 19:57] blackmambahk commented on #9351
OK have updated all our users, still same problem.

The API version "undefined" does not match the Worker version '2.0.22.0'

[2018-01-19 20:24] timvandermeij commented on #7725
Yes, but I'd recommend to first talk with e.g. Yury on IRC about what a good approach to fix this would be.

[2018-01-20 00:00] Snuffleupagus commented on #9375
Closing as duplicate of issue #6741.

[2018-01-20 00:00] #9375 closed

[2018-01-20 01:32] crapthings commented on #9380
i can send an email of corrupted pdf file

[2018-01-20 01:38] himanish-star commented on #7725
ok @timvandermeij , I'll surely do this. Thanks.

[2018-01-20 03:27] shikhar-scs commented on #9365
Any updates on this ? @timvandermeij @Snuffleupagus

[2018-01-20 09:11] #9382 closed

[2018-01-20 10:02] shikhar-scs commented on #6779
Is this issue still up @yurydelendik ?

[2018-01-20 10:12] shikhar-scs commented on #8018
@Snuffleupagus @yurydelendik @timvandermeij ?

[2018-01-20 12:59] himanish-star commented on #9103
@mukulmishra18 , Thanks for all this explanation and now I can understand things better.
___

But when I debugged this I found out that in both the cases i.e. be it `fetchStream` or not , the source.length is always undefined. I also found out that in the `source` object there exists no `length` parameter

https://github.com/mozilla/pdf.js/blob/fad2a3f427db76033873200b77ecb137420a7119/src/display/

[2018-01-20 13:58] timvandermeij commented on #6779
You're right, both tasks should be done already when the last pull request above is merged.

[2018-01-20 13:59] timvandermeij commented on #8018
Yes, feel free to work on this.

[2018-01-20 14:08] shikhar-scs commented on #6779
Thanks @timvandermeij for confirming. I'll look up for something else :+1:

[2018-01-20 14:20] shikhar-scs commented on #8018
Thankyou @timvandermeij. I've filed a PR related to the same :+1: please review it

[2018-01-20 14:39] MatthD opened #9387 "Trying to convert PDF to PNG"
**Configuration:**
MACOS Hsierra, Node 8.7.0

**What is the expected behavior?**

I am just trying to convert a pdf to png like in the example but with a chain treatment.

**What went wrong?**

It's says windows is not defined & speaks about a binding thing that should be in the main thread ..

[code]

[2018-01-20 16:51] himanish-star commented on #9200
@timvandermeij , I might have got this wrong. Was I supposed to ask on this issue on the IRC or you ?

[2018-01-21 10:45] #9361 closed

[2018-01-21 11:25] kekkc commented on #590
Eager to test, what do you need? Is there any binary blob or compiled SW we can test? Why not testing it via nightly, beta master cycle?

Cool, now we just need to figure out how to run this as standalone viewer. Sumatra is also able to view 2 pages, but it has no subpixel rendering. FF has subpixel rendering, but no 2 page standard view. So currently there's no usable open source PDF viewer on wi

[2018-01-21 12:47] timvandermeij commented on #590
You can test it using the preview build at http://54.67.70.0:8877/5e5412c2765c9bd/web/viewer.html. Refer to #9208 for more information.

[2018-01-21 12:50] timvandermeij commented on #9200
You can ask on IRC if this is something that we want to fix.

[2018-01-21 13:52] timvandermeij commented on #8018
Fixed in #9386.

[2018-01-21 13:52] #8018 closed

[2018-01-21 13:55] timvandermeij opened #9388 "Determine if the `parseJbig2` function should be reimplemented"
In PR #9386 this code is being removed since it's completely unused, however this issue exists so as to maintain a record of the code. We should either reimplement it properly or close this issue if it's not relevant anymore.

[2018-01-21 19:43] mukulmishra18 commented on #9103
I will suggest you to create a simple PDF.js app and try to run in Chrome and check if you are getting right headers(especially `Content-Length`) somewhere: https://github.com/mozilla/pdf.js/blob/237bc2ef9df204069c4996e14433e0a35123444a/src/display/fetch_stream.js#L106

I also think it may be a problem of fetch standard or browser as mentioned in https://github.com/mozilla/pdf.js/issues/9103#issue

[2018-01-21 20:03] kekkc commented on #590
Amazing, thanks. In order to test it one has to select "Grid Scrolling" & decrease zoom to 100%. Results:
1. Settings: Grid scrolling & Show sidebar settings are remembered when openening a new PDF, however zoom level is not remembered (it's always defaulting to automatic zoom when openeing a new PDF, but this happens for standard pdf.js, too)
2. Performance: tested with some PDFs with lots of tex

[2018-01-22 04:04] himanish-star commented on #9103
I have been using the app all the time,  mentioned in https://github.com/mozilla/pdf.js/issues/9103#issue-271184807

That's what I'm trying to say that I can't find the `content.length` and it always comes out to be undefined. So even I now  think that this is a short coming of the `Fetch API`

[2018-01-22 07:33] jigskpatel opened #9389 "ppt file can't fully loaded in pdfjs"
Configuration:
- Google Chrome : Version 63.0.3239.132 (Official Build) (64-bit)
- Windows 10 x64
- PDF.js version: 1.9.426
- Is a browser extension: No

**Ppt file not able to fully load in pdfjs**

- Display in pdfjs
![pdfjs](https://user-images.githubusercontent.com/11785531/35209442-037d4cbc-ff74-11e7-8428-b039fd298d16.png)

- Display in powerpoint:
![ppt](https://user-images.githubusercontent

[2018-01-22 07:57] AngryCatherine opened #9390 "PDF Edit support【 A urgent question】"
I attempt to apply a pdf handwriting application based on pdf.js.
By now it could be written on every page, which is actually written on a canvas by adding a canvas in each page rendered by HTML
`<div class="page" id="pdfPage1" data-page-number="1" data-loaded="true" style="width: 733px; height: 1037px;"><canvas id="pdfCanvasPage1" width="733" height="1037" style="position: absolute; top: 0px; cur

[2018-01-22 09:04] Snuffleupagus commented on #9389
Quoting from https://github.com/mozilla/pdf.js#pdfjs:

Please note that PDF.js only supports `*.pdf` files, and no other formats (e.g. not PowerPoint files).
Furthermore, the screen-shot included above isn't from the default PDF.js viewer, but appears to be a custom viewer that we know nothing about.

Closing as invalid, since there's no information provided to indicate that this is a PDF.js issue

[2018-01-22 09:04] #9389 closed

[2018-01-22 09:22] Snuffleupagus commented on #9390
As mentioned in https://github.com/mozilla/pdf.js#pdfjs (emphasis mine):

Please refer to the FAQ as well, see https://github.com/mozilla/pdf.js/wiki/Frequently-Asked-Questions#faq-annotations.

---

As explained above, PDF.js contains no functionality for editing/creating PDF files.
Regarding printing custom content, that is out of scope for PDF.js and you'd have to extend the printing functional

[2018-01-22 09:22] #9390 closed

[2018-01-22 10:47] victorychao opened #9391 "i have a question?help me please..."
The vast majority of pdf is possible in my project。today,I encountered this situation。when open the pdf,the browser's doker say   <pdf.js:6197 The provided value 'moz-chunked-arraybuffer' is not a valid enum value of type XMLHttpRequestResponseType.>  and   Send request to pdf.js 652 times （）the calling code is

 request: function NetworkManager_request(args) {
    var xhr = this.getXhr();
    var

[2018-01-22 13:10] Snuffleupagus commented on #9391
That's only a warning, and it can be safely ignored; see e.g. https://github.com/mozilla/pdf.js/issues/6306#issuecomment-130416712.

Closing as answered, since it's somewhat difficult to understand what the question/problem actually is.[1]

---

[1] For future reference, please make sure that you provide all of the information requested in [ISSUE_TEMPLATE.md](https://github.com/mozilla/pdf.js/blob

[2018-01-22 13:10] #9391 closed

[2018-01-22 13:19] shikhar-scs commented on #9322
@timvandermeij if no one is working on this may I try ?

[2018-01-22 13:32] Snuffleupagus commented on #9322
The previously provided information still stands; please refer to https://github.com/mozilla/pdf.js/issues/9322#issuecomment-355822632 and https://github.com/mozilla/pdf.js/issues/9322#issuecomment-354175949, which mentions that this will be addressed by (the currently open) PR #9185.

[2018-01-22 17:49] himanish-star commented on #9200
@timvandermeij , no one is replying on the IRC, so can I look for other issues until I get some reply ?

[2018-01-22 19:04] yurydelendik commented on #7725
My vision for this bug is too construct entire viewer HTML using JS. We can do it in pieces. So at the end entire viewer.html will be almost empty, but components (such as toolbar,  app, password prompt) will render HTML by them self.

[2018-01-22 19:28] himanish-star commented on #7725
@yurydelendik , if you could guide me on how to start on this , then I will start this as soon as possible.

[2018-01-22 20:30] timvandermeij commented on #9200
Yes, feel free to work on another issue until this one gets sorted out.

[2018-01-22 21:04] prohtex commented on #6685
I'm wondering if any progress has been made on this one. I am implementing pdfjs for clients who exclusively use tablets and mobile devices, and many comment that the icons are "blurry." On a desktop with a high-resolution display, the issue is not as critical as the icons are much smaller relative to the view area. But on a mobile device, it is odd.

![img_0829](https://user-images.githubusercont

[2018-01-22 21:07] yurydelendik commented on #6685
Nope. Any ideas why mobile safari is doing it?

[2018-01-22 21:08] prohtex commented on #2582
Any hope of getting @squallstar's code integrated into a PR? Currently, if a user tries to pinch and zoom on a mobile device, they are often "locked" out of scrolling, and have to reload the page simply to navigate further. Relying on the tiny "+" and "-" buttons to navigate is rather counterintuitive for a mobile viewer in 2018.

[2018-01-22 21:12] prohtex commented on #6685
Isn't the issue that no one has created high-resolution assets to be served to the browser? I'm also wondering why the desktop viewer always displays a sans-serif font while iOS uses what looks like Times Roman!

[2018-01-22 21:13] MickL commented on #2582
Pinch-zoom is "broken" on iOS since iOS 10. Even if everything is implemented perfectly Safari will screw everything up.

[2018-01-22 21:14] yurydelendik commented on #6685
Are these need to be in Safari specific format? WFM on Firefox and Chorme. Also text looks good as well.

[2018-01-22 21:14] prohtex commented on #2582
Is this an iOS specific issue? Is it possible to pinch zoom a PDF served by pdfjs on Android?

[2018-01-22 21:16] prohtex commented on #6685
I'm using Safari mobile on iOS devices. I don't have access to an android phone rn to check, but I assumed the assets simply weren't large enough to display properly.

[2018-01-22 21:18] prohtex opened #9392 "Default font for UI elements on iOS"
iOS devices display the toolbar elements (page count, zoom level) in Times New Roman rather than the sans-serif default seen on Desktop.

![img_0829](https://user-images.githubusercontent.com/12946938/35244911-a6d41024-ff76-11e7-902d-429b49cc609c.PNG)

[2018-01-22 21:19] MickL commented on #2582
Depends on the browser. I assume that only iOS browsers ignores "user-scalable=no".

[2018-01-22 21:21] prohtex commented on #2582
To me, this says it all.

[2018-01-22 21:51] sardelcn opened #9393 "Viewer don't load pdf file in iOS 11.2.2 system"
Hello,
I'm working in iOS and Android APP using Cordova/Phonegap.

I use following plugins:
"phonegap-version" value="cli-7.1.0"
"cordova-plugin-file" spec="6.0.1"
"cordova-plugin-wkwebview-engine" spec="1.1.4"
"cordova-plugin-whitelist" spec="1.3.3"
cordova-plugin-wkwebview-file-xhr(2.1.1);

Configuration:
Operating system and its version: iOS 1.2.2
PDF.js version: 1.9

iOS Result:
![ios](https:/

[2018-01-22 23:53] arnaldof opened #9394 "Form field names with dot are not retrieved correctly"
I have a form in a PDF with text fields named like: Fx.y (where x and y are integer numbers)

Only "y" is extracted as field id, the rest is missing.

[2018-01-23 00:12] yurydelendik commented on #9394
Not complete report, please provide all requested information.

[2018-01-23 02:28] shikhar-scs commented on #9322
I'm very sorry, just didn't notice it somehow. Apologies for all the disturbance

[2018-01-23 02:45] victorychao opened #9395 "It takes 4 minutes to open a 40M pdf file，How can I be faster?"
When opening a pdf, 652 pdf.js were called.The code to be called is " xhr.send (null);"   How to read the hurry。

[2018-01-23 03:08] yurydelendik commented on #9395
To improve performance, see FAQs [What types of PDF files are slow in PDF.js? Can I optimize a PDF file to make PDF.js faster?](https://github.com/mozilla/pdf.js/wiki/Frequently-Asked-Questions#what-types-of-pdf-files-are-slow-in-pdfjs-can-i-optimize-a-pdf-file-to-make-pdfjs-faster) and [PDF.js is fetching the entire PDF file from a server. Can it fetch only the required portions for rendering?](h

[2018-01-23 03:08] #9395 closed

[2018-01-23 06:05] crapthings commented on #9380
@Snuffleupagus i've already sent a copy of wrong pdf file.

[2018-01-23 06:36] Koundi10 opened #9396 "Could not retrieve text"
Attach (recommended) or Link to PDF file here:
[scansmpl.pdf](https://github.com/mozilla/pdf.js/files/1654802/scansmpl.pdf)

Steps to reproduce the problem:
1. Could not retrieve text from the pdf

[2018-01-23 07:36] xpf7622 commented on #7456
I also meet the problem,: "Message: Unexpected server response (204) while retrieving PDF"

[2018-01-23 09:06] ufoqhmdt commented on #6316
![image](https://user-images.githubusercontent.com/1751382/35266973-c71afab6-005f-11e8-9bd5-259b71757905.png)
same problem

[2018-01-23 09:16] Snuffleupagus commented on #9380
*For future reference:* You should attach the PDF file to the issue, not emailing it, since arbitrary contributors shouldn't be expected to provide you personalized support.

Besides, the answer already given in https://github.com/mozilla/pdf.js/issues/9380#issuecomment-358929935 still stands (regarding `CMap`s), so I'm not sure what the problem is here.

[2018-01-23 09:20] Snuffleupagus commented on #9396
That PDF file only contains a *scanned* image, but no text; hence the issue as filed is invalid.
Please keep in mind that PDF.js is a PDF *viewer*, and does not contain any kind of OCR functionality.

Closing as answered.

[2018-01-23 09:20] #9396 closed

[2018-01-23 09:33] crapthings commented on #9380
okay my fault, because the file include some "not so private but" data. will try it

[2018-01-23 10:15] crapthings commented on #9380
working

[code]

[code]

[2018-01-23 12:07] Rob--W opened #9397 "Evaluation of support for old Chrome versions"
The Chrome extension has been designed to support all Chrome versions since the initial release.

We need to evaluate whether there are commonly used versions that we wish to support, and maybe set a [`minmum_chrome_version` in `manifest.json`](https://developer.chrome.com/extensions/manifest/minimum_chrome_version) to explicitly drop support for older versions.

We can make a data=driven decision

[2018-01-23 12:11] Rob--W commented on #9397
I have just built the latest version of the PDF.js extension (2.0.288) with `gulp chromium` and found that it does not show files in Chrome 49, the console shows (the previous version based on PDF.js 1.8.557 works fine):

[code]

[2018-01-23 12:45] ArnaldoSovos commented on #9394
I'm using this library along with pdf2json.

This is the PDF file, with names like fx.y and others (like f_month)
![image](https://user-images.githubusercontent.com/35730366/35276284-ab2adf3a-0021-11e8-93d2-dabba1365ace.png)

This is the json with field names: id field "2" is not present (belongs to f10.2 maybe?)

![image](https://user-images.githubusercontent.com/35730366/35276382-fe91fece-0021-1

[2018-01-23 13:42] yurydelendik commented on #9394
See https://github.com/mozilla/pdf.js/blob/master/.github/ISSUE_TEMPLATE.md to provide all requested information.

What is pdf2json?

[2018-01-23 18:26] #2073 closed

[2018-01-23 18:31] janpe2 opened #9398 "Regression in issue #8496 with canvas backend"
Issue #8496 is about the SVG backend but now also the **canvas** backend has problems with the same PDF. I have tested a few versions: 1.7.225 and 1.8.188 have no problems but newer versions like 1.9.583 (built-in viewer in Firefox), 1.10.96 and 2.0.288 (current demo viewer) don't render the file correctly.

Attach (recommended) or Link to PDF file here:
PDF attached in issue #8496

Configuration:

[2018-01-23 19:13] brendandahl commented on #9398
Could you do a `git bisect` to narrow down the regression?

[2018-01-23 19:22] Snuffleupagus commented on #9398
It seems that PR #8792 is the culprit here.

[2018-01-23 21:12] timvandermeij commented on #6685
Every image has a `@2x` variant for hi-dpi screens and this is served when the media query matches, so from our perspective this should be working (and has been tested on actual hi-dpi screens). Most likely Safari mobile on iOS is doing something strange that causes the media query not to match.

[2018-01-23 21:20] timvandermeij commented on #9394
In order to look into this issue, we need at least a PDF document that shows the issue for debugging purposes. Without the actual PDF file, this issue is not actionable. For all we know, it may also be `pdf2json` that is causing issues.

[2018-01-23 21:51] prohtex commented on #6685
Thank you @timvandermeij for this information. I'm not sure how to troubleshoot this, but can report that I've viewed many builds of pdfjs over the past 3 years on a broad array of iOS devices -- iPhones and iPads of all stripes. In every case, the wrong assets were served.

[2018-01-23 22:11] timvandermeij commented on #6685
It looks like the problem is that Safari only supports the `webkit` prefixed versions of the device pixel media queries. Referring to https://caniuse.com/#feat=css-media-resolution, it looks like Safari is the only one that requires a prefixed media query for this, so that's rather unfortunate. However, the solution mentioned in the original message above would most likely solve this. It would be

[2018-01-23 22:12] Snuffleupagus commented on #6685
Did you try the what's suggested in https://github.com/mozilla/pdf.js/issues/6685#issuecomment-159354026, since that seems like a good starting point?

[2018-01-23 22:16] Snuffleupagus commented on #9393
Is this issue reproducible with the *latest* version of PDF.js, which as of this writing is `2.0.290`?
Does the default viewer, which can be found at https://mozilla.github.io/pdf.js/web/viewer.html, and which always uses the same version work in environment you're testing in?

[2018-01-23 22:16] Snuffleupagus commented on #9393
Is this issue reproducible with the *latest* version of PDF.js, which as of this writing is `2.0.290`?
Does the default viewer, which can be found at https://mozilla.github.io/pdf.js/web/viewer.html, and which always uses the same version work in environment you're testing in?

[2018-01-23 22:23] janpe2 commented on #9398
[issue9398_reduced.pdf](https://github.com/mozilla/pdf.js/files/1657815/issue9398_reduced.pdf)

I extracted two inline images from the original PDF. The page should show a gray and a black image but PDF.js renders two gray images. The data of the two images are equal but their color spaces are different.

[2018-01-24 04:56] skioll opened #9399 "not show seal"
Attach (recommended) or Link to PDF file here:
[B25N236012018026603-204.pdf](https://github.com/mozilla/pdf.js/files/1658464/B25N236012018026603-204.pdf)

Configuration:
- Web browser and its version: Mozilla/5.0 (Linux; Android 4.4.4; MI 5 Build/KTU84P) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/33.0.0.0 Safari/537.36 Truck Alliance/Consignor (domainId 1; Version 4.9.0)
- Operating

[2018-01-24 05:41] shishirkulkarni commented on #9392
Hello,
My name is Shishir. I am looking for projects where I can make some open source contributions. I was hoping to take up this issue. This issue also affects the current view option available on smaller screens. The fix that I am thinking of is adding a font-family declaration with value `Arial, Sans-Serif`. If this sounds alright and no one is looking at the issue, Can I take this up?

[2018-01-24 09:09] Snuffleupagus commented on #9399
Closing as duplicate of issues such as #1076, #4202, and #4743.

[2018-01-24 09:09] #9399 closed

[2018-01-24 12:04] photopea opened #9400 "Stream Objects inside other objects"
In PDF, a stream object is a dictionary followed by a stream:
[code]
Adobe Acrobat Reader can not read PDF, where a Stream Object is inside another object (i.e. all Stream Objects must be at "level zero", directly referenced by XREF).

Meanwhile, pdf.js can read such PDFs just fine. I.e. PDFs readable by pdf.js is a superset of what Adobe Reader can read. This may encourage PDF creators create cor

[2018-01-24 13:08] yurydelendik commented on #9400
The spec can be found at http://www.adobe.com/content/dam/Adobe/en/devnet/acrobat/pdfs/PDF32000_2008.pdf . This issue is missing the analysis of the spec.

[2018-01-24 13:20] Snuffleupagus commented on #9400
As can other PDF viewers, such as e.g. PDFium in Google Chrome.

The reason that PDF.js, and other PDF viewer, were ever forced to recover data from various kinds of corrupt/incomplete PDF files is that this is a practice that was started by Adobe Reader (and other Adobe software).

Over time we've thus been forced to add various fallbacks for corrupt PDF files, and I don't think that we should st

[2018-01-24 13:26] photopea commented on #9400
ok I am closing it.

[2018-01-24 13:26] #9400 closed

[2018-01-24 13:30] Snuffleupagus commented on #9400
Based on e.g. http://www.adobe.com/content/dam/acom/en/devnet/acrobat/pdfs/PDF32000_2008.pdf#page=86, the `Contents` entry of a `Page` dictionary should be either a stream or an array.
In most PDF files, the `Contents` entry simply contains a reference to the "Content Stream". However there doesn't appear, from a cursory reading of the specification, to be explicitly forbidden for an inline stream

[2018-01-24 19:30] brendandahl commented on #9398
I looked quickly at the #2618 PDF and the one in this issue and both dictionaries are inline so we're already parsing them: https://github.com/mozilla/pdf.js/blob/master/src/core/parser.js#L374-L385

[2018-01-24 19:38] jeremypress commented on #5264
@yurydelendik, would you be open to a contribution that implements this workaround? I highly doubt that Microsoft will be addressing this on their end.

[2018-01-24 22:04] timvandermeij commented on #5264
This workaround is not acceptable for in the core, but it is may be accepted if it can be feature-detected and placed in https://github.com/mozilla/pdf.js/blob/master/src/shared/compatibility.js.

[2018-01-25 02:10] Thj007 opened #9402 "pdfpage random code"
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version:
- Operating system and its version:
- PDF.js version:
- Is a browser extension:

Steps to reproduce the problem:
1. Open Chinese document pages to display random code

What is the expected behavior? (add screenshot)
i want to chinese document pages can show normal,like this
![right](https://user-images.gi

[2018-01-25 05:29] zhaowanhua commented on #7074
I got same issue and have you fixed the issue?

[2018-01-25 10:49] brookhong commented on #7310
@luxferoo It depends.

[p16.pdf](https://github.com/mozilla/pdf.js/files/1663608/p16.pdf)

I attached this sample to show that some documents are rendered word by word, but not exactly, sometimes word is getting split.
This issue is really annoying, which makes text layer completely useless.

![image](https://user-images.githubusercontent.com/288207/35384364-07669886-0200-11e8-9b33-411e43a0d827.pn

[2018-01-25 13:53] Ayrtonalec opened #9403 "Trying to get embedded jpg base 64 code (from the images in the pdf itself)"
I've been busy with this for weeks and I can't get it done, I've been searching everywhere and I'm honestly lost. I could find the new image name the pdf.js give them and their sizes (width and height) but I need to reproduce the picture outside of just the pdf viewer.

I'm making a application which loads in a pdf design (from a design company) and dynamically adds that specific design into a lis

[2018-01-25 14:49] zc95 commented on #9381
I'm sorry, I didn't clearly describe the problem before, I didn't know much about pdf.js, because this project was written by my colleague long ago, and I am in charge of modification now.

I have solved this problem by modifying the /web/compatibility.js
[code]
I'll learn pdf.js, thank you very much.

[2018-01-25 16:15] Snuffleupagus commented on #9402
Closing as incomplete, since all the necessary details are missing here (as can be seen above).

[2018-01-25 16:15] #9402 closed

[2018-01-25 17:03] Mahus1991 opened #9404 "Canvas Scale makes drawing disappear"
So  I am using PDFjs on an iPad with cordova. Since it's a retin Display I need to scale my canvas with the given DevicePixelRatio.

But when I do drawings or even Colors will relocated and disappear.
Screenhots are provided.

My Code is:

      `var factor = window.devicePixelRatio;

        if (factor > 1)
            factor = 1.7;

        var width = $('#pdfContainer').width();
        var hei

[2018-01-25 18:50] brendandahl commented on #7074
@zhaowanhua Please file a new issue, yours is probably not the same.

[2018-01-25 19:06] Snuffleupagus commented on #9398
Sorry, I didn't express myself clearly above!

What I meant is that we need to somehow serialize/stringify/hash the contents of those Dictionaries, and use that when building the inline image `cacheKey`, in order to fix this bug (and prevent future similar ones). However, in #2618 there's around 160000 inline images (if memory serves), and when I tried implementing (a naive) hashing of the Diction

[2018-01-25 21:25] mtembi opened #9406 ""The API version "undefined" does not match the Worker version "2.0.290""
I am testing using fpdf to generate pdf stream in wordpress. The stream is returned to jquery as a base64encoded stream:

`function generatePdf(){

        include_once(plugin_dir_path( __DIR__ ).'common/pdf/fpdf.php');
        $pdf = new FPDF();
        $pdf->AddPage();
        $pdf->SetFont('Arial','B',16);
        $pdf->Cell(40,10,'Hello World!');
        $pdf->Close();
        $pdf_contents=$p

[2018-01-25 21:27] timvandermeij commented on #9394
Closing until a PDF file is provided for debugging the issue.

[2018-01-25 21:27] #9394 closed

[2018-01-25 21:30] timvandermeij commented on #9393
Closing until the information requested above is provided. If iOS provides console message, also provide those. Without any working example, it's hard to find out what's causing this (and I think there are similar issues for this already open).

[2018-01-25 21:30] #9393 closed

[2018-01-25 21:32] timvandermeij commented on #9304
Closing since the issue is not really actionable. Consider using the wrapper provided above or provide a full example.

[2018-01-25 21:32] #9304 closed

[2018-01-25 21:43] mtembi commented on #9406
It's a false alarm I guess. I've looked at the error again and noticed the pdf.js and pdf.worker,js libraries are local
`http://172.17.0.5/wp-content/plugins/Idl_Pdf/common/pdfjs/pdf.js:25:3`
but I have set the PDFJS.workerSrc to the online one
`PDFJS.workerSrc="https://mozilla.github.io/pdf.js/build/pdf.worker.js";`

I have corrected and on my way again. sorry

[2018-01-25 21:43] #9406 closed

[2018-01-25 23:10] dschissler commented on #9048
I'm using pdf.js for one-page PDFs so that they can be loaded in as the viewer scrolls.  I've noticed that Chrome and Chromium appear to never be able to release memory when a webworker is used and so I'm currently working around this by disabling a webworker when using Chrome.  Try disabling webworker with `PDFJS.workerSrc = false` and then seeing if the memory usage decreases after destroying th

[2018-01-26 01:23] ssnrcnpio opened #9407 "Print 100 pages file issue"
Configuration:
- Web browser and its version:IE 11
- Operating system and its version: Win 7
- PDF.js version:1.10.88

I have more then 100 pages of **horizontal** pdf,
View file is ok , but when I press the print button,
Have some problems:
1. the loading 1~100% to print very slow.
2. some times loading to ?% is stop, then IE shot down!
1. specify printing 25 page,but print page 22.
1. printing 1

[2018-01-26 03:26] gzliudan opened #9408 "How to get page width and height in pdf.js?"
How to get page width and height for each page in pdf.js?

[2018-01-26 11:39] Rob--W commented on #9397
Chrome 31 and 32 refuses to load the extension because of manifest.json.
Chrome 33 - 48 cannot even parse PDF.js because of unsupported syntax (this could be supported by using Babel, but given the low usage numbers of these old Chrome versions, I'm going to drop support for them)..
Chrome 49 can be supported by including two polyfills.

The currently published version of PDF.js does already not s

[2018-01-26 11:42] Rob--W commented on #9397
#9409 fixes Chrome 49 support.

What remains is cleanup of code to drop Chrome 48- compatibility.

[2018-01-26 14:19] ArnaldoSovos commented on #9394
[test_form_fields.pdf](https://github.com/mozilla/pdf.js/files/1667994/test_form_fields.pdf)
Heres a example pdf, fields are:
address.1
address.2
Country
option.1
option2

[2018-01-26 15:38] Snuffleupagus commented on #9397
Closing as fixed by PRs #9409 and #9410.

[2018-01-26 15:38] #9397 closed

[2018-01-26 16:21] yurydelendik commented on #9394
PDF.js works as expected, getAnnotations() returns the field names specified above:

<img width="916" alt="screen shot 2018-01-26 at 10 20 48 am" src="https://user-images.githubusercontent.com/1523410/35449465-b25d40dc-0282-11e8-9a59-507e7cbe18d3.png">

[2018-01-26 20:39] Rob--W opened #9411 "Chrome extension via GPO cannot open local file URLs"
When an extension is installed via group policies in Chrome, a user cannot grant the extension access to local file URLs. The checkbox is simply not visible, and there is no way for admins to allow files: https://bugs.chromium.org/p/chromium/issues/detail?id=173640

So when the extension detects a PDF file, the following page is shown (from #6233):
![](https://cloud.githubusercontent.com/assets/13

[2018-01-26 21:11] yurydelendik commented on #9407
To print, PDF.js has to render and store each page due the the Web (browser) API limitations. See also [FAQ](https://github.com/mozilla/pdf.js/wiki/Frequently-Asked-Questions#allthepages) about performance of this. Closing as answered.

[2018-01-26 21:11] #9407 closed

[2018-01-26 22:28] timvandermeij commented on #9397
Nice work!

[2018-01-26 22:31] timvandermeij commented on #9408
Refer to https://github.com/mozilla/pdf.js/blob/25c7a8c215fe5eccc6a14ab209a8bbea226e9520/examples/learning/prevnext.html#L64. Closing as answered.

[2018-01-26 22:31] #9408 closed

[2018-01-26 22:37] timvandermeij commented on #3681
Closing since we've had no more reports for this and the Chrome version reported is now unsupported.

[2018-01-26 22:37] #3681 closed

[2018-01-26 22:41] timvandermeij commented on #5319
Is this still relevant? I think we have streams API support now, at least through a polyfill if I'm not mistaken.

[2018-01-27 15:58] Snuffleupagus commented on #9081
Closing as duplicate of issue #9361.

[2018-01-27 15:58] #9081 closed

[2018-01-27 16:45] Rob--W commented on #5319
Fixed by #8768.

[2018-01-27 16:45] #5319 closed

[2018-01-28 09:07] Thj007 opened #9413 "pdf font error"
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version: Chrome 63.0.3239.84
- Operating system and its version: window 8.1, window 10
- PDF.js version:  using your official demo project
- Is a browser extension:no

Steps to reproduce the problem:
1. Just load attached pdf
2.

What is the expected behavior? (add screenshot)
![right](https://user-images.githubus

[2018-01-28 09:38] Snuffleupagus commented on #9413
There's no PDF file attached to this issue.

[2018-01-28 09:43] Thj007 commented on #9413
[老年食养食疗.pdf](https://github.com/mozilla/pdf.js/files/1670959/default.pdf)

[2018-01-28 11:36] kekkc opened #9414 "Auto-hide toolbar & sidebar"
Hi everyone,

Chrome auto-hides the toolbar at the top and the sidebar after some seconds to gain some space when reading. Looking at the pdfium code it implementation seems a litte overkill, showing the toolbars any time the mouse is moved and gets "near" the toolbars.

Maybe a simpler implementation could be used for pdf.js so that the bars are only showing for some seconds when the mouse is mov

[2018-01-28 11:42] Snuffleupagus commented on #9414
Closing as duplicate of issue #2784.

[2018-01-28 11:42] #9414 closed

[2018-01-28 12:59] SehyunPark commented on #9413
I think the Chinese character itself has more than 2 bytes than any other characters, which caused trouble while converting it.

[2018-01-28 14:13] Thj007 commented on #9413
What I can do ?

[2018-01-28 14:18] Thj007 commented on #9413
This phenomenon occurs only when the Pdf file is displayed

[2018-01-28 14:49] Snuffleupagus commented on #9413
Fix the PDF file, by embedding all the fonts in the PDF file itself (as is required by the PDF specification when using non-standard fonts).
Unless you've got the fonts in question installed locally, then even Adobe Reader cannot display the file properly; see the following screen-shot (with an error message saying that the font cannot be found/loaded).

![issue9413](https://user-images.githubuser

[2018-01-29 02:01] Thj007 commented on #9413
I found that, then What should I do? Can I turn it into a song?
![tip](https://user-images.githubusercontent.com/30485600/35490521-186011b6-04db-11e8-8a4c-4b0a3793a3a3.png)

[2018-01-29 22:24] hallvors commented on #8782
The code is now here and no longer references example.com :
https://github.com/mozilla/pdf.js/blob/75dc2bbd359990ebb1c1484f204acf66c3cb8221/src/display/network.js#L56
The fix: https://github.com/mozilla/pdf.js/commit/a05115d2ec27866ccf16cc4c550f225f054037fd

[2018-01-29 22:25] hallvors commented on #8782
@timvandermeij I don't have permissions to close this issue but per my comment above it is fixed :)

[2018-01-30 01:12] Thj007 commented on #8667
Are you solve your issue?

[2018-01-30 03:36] kenwhale commented on #9295
We have met the same problem. How can we fix it ?

[2018-01-30 05:11] kenwhale commented on #9295
Hi，all. We found out it's pdf file's problem.When the pdf file's MediaBox exceed A4 paper's size,it will print blank pages. It's none of pdf.js bussiness.

[2018-01-30 07:07] abasan1 opened #9418 "bad XRef entry"
hello

I have problems with rendering of the attached PDF file. When I open it using the official viewer at http://mozilla.github.io/pdf.js/web/viewer.html I get the following error:

`PDF.js v2.0.303 (build: 55e3f97a)
Message: bad XRef entry`

this file is generated from an application and I can open that  in adobe reader.
I hope pdf.js can open this file.

[Drawing2.pdf](https://github.com/mozil

[2018-01-30 08:30] Ayrtonalec commented on #9403
Still in need of help, haven't managed so far.

Kind regards,
Rick

[2018-01-30 09:00] THausherr commented on #9418
Ghostscript cannot open it, PDFBox cannot open it, Chrome build in pdf viewer can open it.

The file has /Root 1 0 R/Info 18 0 R

At 1 0 o there is the /Info ... at 18 0 o there is "1560". The real root (document calalog) is at 2 0 o. There has been some incremental saving done here, and it went wrong. If you created this file then you might want to contact Aspose support.

[2018-01-30 15:05] jigskpatel opened #9421 "Search functionality is not working properly."
Attach (recommended) or Link to PDF file here:
[486561.pdf](https://github.com/mozilla/pdf.js/files/1678147/486561.pdf)

Configuration:
- **Web browser and its version:** Google Chrome : Version 63.0.3239.132 (Official Build) (64-bit)
- **Operating system and its version:** Windows 10 x64
- **PDF.js version:** 1.9.426
- **Is a browser extension:** No

 **Step For Reproduced The problem:**

1. Clic

[2018-01-30 21:33] timvandermeij commented on #9403
Is https://github.com/mozilla/pdf.js/blob/master/src/display/canvas.js#L2098 perhaps what you're looking for? I think this is called when an image must be drawn on the canvas.

[2018-01-30 21:35] timvandermeij commented on #8782
Thank you for the confirmation! I'm closing the issue then.

[2018-01-30 21:35] #8782 closed

[2018-01-31 02:46] OlivierAltinae commented on #8667
Yes. The issue was on my side. The fonts were not included properly.

Thanks.

2018-01-30 2:13 GMT+01:00 Thj007 <notifications@github.com>:

[2018-01-31 03:35] chineseITMonkey opened #9422 "The PDF generated by the wkhtmltox tool previews with PDF.JS, and the Chinese font will have a problem"
Attach (recommended) or Link to PDF file here:

Configuration:
- Web browser and its version: Google Chrome : Version 63.0.3239.132 (Official Build) (64-bit)
- Operating system and its version:Windows 10 x64
- PDF.js version:1.9.426
- Is a browser extension:No

Steps to reproduce the problem:
1. Using the wkhtmltox tool generated by the HTML PDF, preview with PDF.JS, Chinese font will have a probl

[2018-01-31 08:47] himanish-star commented on #7725
@timvandermeij , Could you help me find where the code for this pre-processor is inside `pdf.js`

[2018-01-31 09:02] Hawex opened #9423 "Print quality when printing from firefox"
Hi, I've got a problem when printing files directly from firefox, quality of print is very poor . Is there any way to improve it without editing pdf.js (for ex. in firefox options or by page css)?

Attach (recommended) or Link to PDF file here:
 https://mozilla.github.io/pdf.js/web/viewer.html
Configuration:
- Web browser and its version: Firefox 58.0.1
- Operating system and its version: Windows

[2018-01-31 09:24] Snuffleupagus commented on #9422
Without access to the PDF file in question, the issue will be closed as incomplete.

[2018-01-31 10:20] Rob--W commented on #7725
Our HTML preprocessor is implemented at
https://github.com/mozilla/pdf.js/blob/55e3f97aa97ad648ef955203524bbdb5593671d1/external/builder/builder.js

The constants are defined at

https://github.com/mozilla/pdf.js/blob/55e3f97aa97ad648ef955203524bbdb5593671d1/gulpfile.js#L74-L86

and overridden by calls to `builder.merge`,  e.g. at

https://github.com/mozilla/pdf.js/blob/55e3f97aa97ad648ef955203524

[2018-01-31 16:42] LuigiMaestrelli opened #9425 "Unable to decode image: JpegError: JPEG error"
File:
[Test.pdf](https://github.com/mozilla/pdf.js/files/1682471/Test.pdf)

Configuration:
- Web browser and its version:
  Firefox 58 x64
  Chrome 64 x64

- Operating system and its version:
  Windows 10 x64

- PDF.js version:
  Last one. Pulled from github today ( 2018-01-31).
  Tested also on v1.10.88.

- Is a browser extension: No

Steps to reproduce the problem:
1. Try to visualize the attach

[2018-01-31 21:12] timvandermeij commented on #8667
Closing since there is nothing more we can do on the PDF.js side.

[2018-01-31 21:12] #8667 closed

[2018-02-01 03:56] Thj007 commented on #9422
PDFJS.cMapUrl = './static/my-module/cmaps/'
        PDFJS.cMapPacked = true

[2018-02-01 03:57] Thj007 commented on #9422
你的有出现乱码吗？

[2018-02-01 03:57] Thj007 commented on #9422
因为缺少字体

[2018-02-01 04:58] Thj007 commented on #9161
hello, are you solve your issue?

[2018-02-01 10:43] jigskpatel commented on #9421
@timvandermeij any update?

[2018-02-01 12:26] himanish-star commented on #7725
@Rob--W, Thanks for the explanation and sorry for the late reply

[2018-02-01 21:46] timvandermeij commented on #9422
Closing since this issue is incomplete.

[2018-02-01 21:46] #9422 closed

[2018-02-01 21:47] timvandermeij commented on #9421
This is a known issue with some PDF files. There are similar other issues open. Anyone who is willing to look into the cause of this is welcome to.

[2018-02-01 23:00] DavidRoss commented on #8701
I did not mean to close this.  This is still a problem with PDF Viewer 2.0.305.

[2018-02-01 23:00] DavidRoss commented on #8701
I did not mean to close this.  This is still a problem with PDF Viewer 2.0.305.

[2018-02-02 00:42] BetaLeaf opened #9428 "Issue opening PDF from Nextcloud (Hidden letters)"
Initially from https://github.com/ONLYOFFICE/onlyoffice-owncloud/issues/151

I have an interesting issue. When I try to open a PDF created with OnlyOffice, there are issues rendering some letters.

Testing Notes:
  - The first letter of the spreadsheet is always invisible (It's still there as I can search for it)
  - This doesn't happen on merged cells (If first letter of spreadsheet is within a m

[2018-02-02 04:37] prohtex commented on #9392
Hi @shishirkulkarni, that would be great!

[2018-02-02 08:59] LubenZA opened #9429 "Get Pdf Dict data"
Good day,

My document has 'Info' and 'Root' dictionaries which I need to access.
I am using: pdf.worker.js, pdf.js, and viewer.js (pulled from git June 2017)

I've read this issue but it doesn't help my case:
https://github.com/mozilla/pdf.js/pull/5117

Any help would be greatly appreciated.

[2018-02-02 09:28] THausherr commented on #9428
The "S" is cid 0 in the font... that is unusual.

[2018-02-02 09:36] pmjhcf opened #9430 "pdf.js报错，不能使用相同的canvas进行渲染操作。使用不同的画布或确保以前的操作被取消或完成。"
连续点击下一页，重复生成canvas报错。怎么解决？Uncaught (in promise) Error: Cannot use the same canvas during multiple render() operations. Use different canvas or ensure previous operations were cancelled or completed.

[2018-02-02 10:02] Snuffleupagus commented on #9430
As the error message explains, you need to use a *new* `canvas` for every render operation rather than re-use an existing one; please see PR #8519 and issue #5636 for additional details.

Closing as answered.

[2018-02-02 10:02] #9430 closed

[2018-02-02 10:20] Snuffleupagus commented on #9428
First of all, please keep in mind that we're not able to provide support for "Nextcloud" since we know nothing about it. Secondly, it's not really clear to me if this is actually a PDF.js issue, or rather an issue with the Nextcloud implementation of the PDF.js library.

Both those PDF files open just fine for me in the latest version of PDF.js, which as of this writing is `2.0.310`.
Please test t

[2018-02-02 11:11] LubenZA commented on #9429
This is how I solved it.
In pdf.worker.js:
    infoDict = this.xref.trailer.get('Info');
    console.dir(infoDict); //displays contents of object
    console.log("getting docInfo : " + infoDict.map.whateverDictField);

[2018-02-02 11:11] #9429 closed

[2018-02-03 02:02] BetaLeaf commented on #9428
I made a request to have it updated. Thanks.

[2018-02-03 04:12] stevelikesmusic commented on #9022
For me, I needed to ensure Chrome didn't cache range requests. This meant setting my PDFs in S3 to have  a cache-control property of `Cache Control: max-age=0, no-cache, no-store, must-revalidate`.

Not the most ideal solution, but using range requests are essential for 200+ page PDFs. So disabling range requests wasn't an option.

As @yurydelendik mentioned in other issues, disabling streams and

[2018-02-03 08:30] #9428 closed

[2018-02-03 23:25] prohtex commented on #6685
This issue also impacts ALL versions of Safari on Macs, as seen below

![screen shot 2018-02-01 at 9 52 23 pm copy](https://user-images.githubusercontent.com/12946938/35718723-a95317ba-079a-11e8-80ea-f094a171e34c.jpg)

[2018-02-03 23:44] prohtex commented on #6685
I tried sticking this code in a variety of places without any success. It can be seen currently here in viewer.css. Any ideas?

http://www.thing.gallery/test/pdf.js/web/viewer.html

[2018-02-03 23:50] prohtex commented on #6685
I can confirm that the solution suggested does work, on Safari and iOS. All that needs to be changed is this line in viewer.css:

	@media screen and (min-resolution: 2dppx) {

to

	@media
		screen and (-webkit-min-device-pixel-ratio: 2),
		screen and (min-resolution: 2dppx) {

This can be seen working here:

http://www.thing.gallery/test/pdf.js/web/viewer.html

[2018-02-04 08:33] #5155 closed

[2018-02-04 11:31] kekkc commented on #7613
BTW: Chrome is also not able to save PDFs with forms, but there's a workaround. Forms are rendered by default and one is able to print them and one can even print them as PDF, including the form input.

Maybe this is applicable for pdf.js, too and we can just utilize the existing FF save as PDF ( https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/tabs/saveAsPDF )?

[2018-02-04 19:04] timvandermeij commented on #6802
Closing since the fetch API is implemented now and the file is no longer available.

[2018-02-04 19:04] #6802 closed

[2018-02-04 19:09] timvandermeij commented on #4155
Closing since this works fine for me now. Note that there have been many performance improvements since this issue was filed (for example fetch API usage and drawing optimizations).

[2018-02-04 19:09] #4155 closed

[2018-02-04 21:26] michardy opened #9437 "Undulating text"
Attach (recommended) or Link to PDF file here:
[Theres-No-App-For-That.pdf](https://github.com/mozilla/pdf.js/files/1693325/Theres-No-App-For-That.pdf)

Configuration:
- Web browser and its version: Firefox 58.0.1 (64 bit)
- Operating system and its version: 4.14.15-1-ARCH (Arch Linux)
- PDF.js version: Version installed with Firefox (2.0.106 ?)

Steps to reproduce the problem:
1. open pdf
2. scro

[2018-02-05 07:32] Hawex commented on #9357
Hi
I've got similar issue. Do anyone know how to improve print quality??

[2018-02-05 08:03] jordanhenderson commented on #7597
Same issue. The fix above from @SyntaxUnknown allows PDF previews to be displayed, however upon printing I receive a blank page. I'll investigate this further and report back, does anyone have a solution?

[2018-02-05 08:03] jordanhenderson commented on #7597
Will try the solution from @adiq shortly.

[2018-02-05 08:41] blitheinsz opened #9438 "PDFDocumentLoadingTask.onProgress not work in IE9"
`pdfApplication = PDFJS.getDocument(opt.url);

pdfApplication.onProgress = function(progressData) {
            var progressNum = (Number(progressData.loaded) / Number(progressData.total)) * 100;
            console.log(progressNum + '%');
}`

Chrome,  firefox  is OK,
console.log:    1%,  3%, 11% ...........,   100%;

but in  IE9,
only console.log:   100%;

[2018-02-05 11:12] Snuffleupagus commented on #9438
With PDF.js version `2.0`, we'll no longer support IE9 (nor older browsers in general); hence closing as invalid.

[2018-02-05 11:12] #9438 closed

[2018-02-05 12:36] jordanhenderson commented on #7597
Using the following performPrint function fixed the issue on iOS Safari for me:
`performPrint: function () {
     this.throwIfInactive();
     return new Promise(function (resolve) {
      setTimeout(function () {
       if (!this.active) {
        resolve();
        return;
       }
       print.call(window);
       var printEvent = window.matchMedia('print');
       printEvent.addListener(functi

[2018-02-05 14:43] Rob--W opened #9440 "Document that pdfjs-dist is a "nightly" build"
https://github.com/mozilla/pdfjs-dist and https://www.npmjs.com/package/pdfjs-dist does not clearly show that the release is a continuous build. The documentation, sourced from https://github.com/mozilla/pdf.js/blob/a7c35025fed8beb8f9b93688fff40497c7ad2de0/external/dist/README.md should probably be changed to make this more clear. And https://mozilla.github.io/pdf.js/getting_started/ does not clea

[2018-02-05 17:31] rvandermeulen opened #9441 "Upstream the changes from bug 1431533"
Bug 1431533 part 5a (https://hg.mozilla.org/mozilla-central/rev/e6a7b5e11ba8) included a mass rewrite changing all instances of Components.utils.import to ChromeUtils.import. We should upstream those too.

[2018-02-05 18:06] Snuffleupagus commented on #9441
Thanks for the pointer; however this was taken care of in commit https://github.com/mozilla/pdf.js/commit/4db49b6613401a336f68098656e56e1fca442895, which was included in PR #9433.

[2018-02-05 18:06] #9441 closed

[2018-02-05 18:35] georgeemr commented on #9176
same

[2018-02-05 19:27] rvandermeulen commented on #9441
Looks like there's a bit of a whitespace issue in PdfJs.jsm, though.
https://github.com/mozilla/pdf.js/commit/4db49b6613401a336f68098656e56e1fca442895#diff-fac62551eadfe79f141900988b8e8a8dL52

[2018-02-05 19:43] Snuffleupagus commented on #9441
Whoops, I was mostly using ESLint to automatically apply the changes and forgot to manually re-indent that; sorry if this caused you unnecessary merge conflicts!
Unless you need this fixed right away, I'll just address it when upstreaming the changes from https://bugzilla.mozilla.org/show_bug.cgi?id=1432992 since that one looks pretty close to landing.

[2018-02-05 19:59] rvandermeulen commented on #9441
I think it's fine to wait. I just dropped that hunk from the update I did
today.

On Mon, Feb 5, 2018 at 2:43 PM, Jonas Jenwald <notifications@github.com>
wrote:

[2018-02-05 22:00] jordanhenderson commented on #7597
Apparently there are still issues with the above solution on > iOS 9.3.5.

[2018-02-06 02:58] boxjira opened #9442 "Slight issue with `disableWorker` removal patch"
Thanks for all the great work!

I'm running into a slight issue with my particular setup. The recent patch to remove `PDFJS.disableWorker` (https://github.com/mozilla/pdf.js/commit/56a8c934dde6cce806b1d74fa80c181eb30bbb96) updated one of the checks for a fake worker to use

[code]

I prefetch the worker file while users are not on a page that requires PDF preview, and when they do come to a docume

[2018-02-06 02:59] #9442 closed

[2018-02-06 03:00] tonyjin opened #9443 "Issues with patch that removed `disableWorker`"
Thanks for all the great work!

I'm running into a slight issue with my particular setup. The recent patch to remove `PDFJS.disableWorker` (https://github.com/mozilla/pdf.js/commit/56a8c934dde6cce806b1d74fa80c181eb30bbb96) updated one of the checks for a fake worker to use

[code]

I prefetch the worker file while users are not on a page that requires PDF preview, and when they do come to a docume

[2018-02-06 10:13] ppimple opened #9445 "Request failed with status 404"
In Firefox i have facing below warnings from pdfjs and some clients pdf is not visible

*Issues:
1)Source map error: request failed with status 404
Resource URL: https://direct.morningstar.com/research/js/pdfjs-helper/compatibility-6cda4c3c9a.js
Source Map URL: compatibility.js.map

2)Source map error: request failed with status 404
Resource URL: https://direct.morningstar.com/research/js/pdfjs-li

[2018-02-06 10:58] Snuffleupagus commented on #9443
If what you're suggesting is to completely remove line https://github.com/mozilla/pdf.js/blob/6b7e2cbcd1fbfd68c17f92178ce47df7f6665c31/src/display/api.js#L1336
then that would make it totally impossible, rather than the intended *difficult*, for users to disable workers.
This would also imply that it's no longer possible to simulate the functionality of the (now removed) `pdf.combined.js` file, by

[2018-02-06 11:32] Rob--W opened #9446 "No usable progress bar when using fetch stream"
STR:

1. Open the latest version of the PDF.js Chrome extension (v2.0.301) - https://chrome.google.com/webstore/detail/pdf-viewer/oemmndcbldboiebfnladdacbdfmadadm
2. Visit https://www.adobe.com/content/dam/acom/en/devnet/acrobat/pdfs/pdf_reference_1-7.pdf
3. To simulate the behavior of the [previous published version of the extension](https://github.com/Rob--W/pdf.js/releases/tag/chrome-1.8.557),

[2018-02-06 11:33] Rob--W commented on #9445
Have you tried uploading the source maps to the server?

[2018-02-06 11:44] Rob--W commented on #9022
`net::ERR_CACHE_OPERATION_NOT_SUPPORTED` maybe related to https://crbug.com/770694 ? ("Multiple simultaneous requests to same URL with Range header cause failure ( block backend returns ERR_CACHE_OPERATION_NOT_SUPPORTED)" )

[2018-02-06 12:10] Snuffleupagus commented on #9446
It appears that this may be related to, or even a duplicate of, issue #9103.

[2018-02-06 12:33] ppimple commented on #9445
Yes

[2018-02-06 12:37] Rob--W commented on #9446
I pinned this bug down to the following:

`fetch` makes a CORS request by default, so that the response is of type `cors` instead of `basic`. Consequently, many headers are not exposed to the JS code. "type" is elaborated here: https://developer.mozilla.org/en-US/docs/Web/API/Response/type

To see the difference, run the following snippet from the console, first in the extension, and then from htt

[2018-02-06 12:42] Rob--W commented on #9446
This is the bug for exposing "headers" in `fetch` to extensions:
https://bugs.chromium.org/p/chromium/issues/detail?id=784528

[2018-02-06 12:48] Rob--W commented on #9445
If you did then there should not be any 404 errors. Check whether they are at the right place.

[2018-02-06 14:22] Rob--W commented on #9103
FYI, `_contentLength` is set at:

https://github.com/mozilla/pdf.js/blob/6b7e2cbcd1fbfd68c17f92178ce47df7f6665c31/src/display/fetch_stream.js#L104-L115

and the value originates from https://github.com/mozilla/pdf.js/blob/6b7e2cbcd1fbfd68c17f92178ce47df7f6665c31/src/display/network_utils.js#L42-L47

But this value is guarded behind range requests. Before the above snippet, the function returns ear

[2018-02-06 18:29] tonyjin commented on #9443
Ah perfect, let me try `workerSrc`, looks like what I need :)

[2018-02-06 21:01] s1iqbal commented on #8851
Resolved!

[2018-02-06 22:02] timvandermeij commented on #9445
This does not look like a PDF.js problem, but rather a server configuration one, so I'm closing this issue.

[2018-02-06 22:02] #9445 closed

[2018-02-06 22:18] amccreight opened #9449 "Mass removal of Ci, Cr, Cc, and Cu"
I just landed a patch to mass remove definitions of Ci, Cr, Cc and Cu in bug 1432992:
  https://hg.mozilla.org/integration/autoland/rev/b38d59f71915
These are automatically defined on chrome scopes now. There are 5 pdfjs files affected by these changes.

[2018-02-07 00:58] #9446 closed

[2018-02-07 01:29] tfierens opened #9450 "pdf loading but not displaying"
I'm trying to get the pdf.js viewer to work in an asp.net MVC 5 application but while the pdf is definitely being process, it is not being displayed.

Configuration:
- Web browser and its version: Microsoft Edge (41.16299.15.0) and Chrome (64.0.3282)
- Operating system and its version: Windows 10 (Version 1709 - 16299.125)
- PDF.js version: 1.9.426
- Is a browser extension:

Steps to reproduce the

[2018-02-07 01:32] brendandahl commented on #9440
Or we could send npm releases instead.

[2018-02-07 02:06] idevtech opened #9451 "l72 in network.js displaying warning in Chrome 64.0.3282.140 (32-bit) Windows"
When loading a page referencing pdfjs.js Chrome reports the following:

The provided value 'moz-chunked-arraybuffer' is not a valid enum value of type XMLHttpRequestResponseType.
supportsMozChunkedClosure @ network.js:71
_typeof2 @ network.js:61
__w_pdfjs_require__ @ bootstrap b5fe8ab6eb949fc98816:19
_typeof @ pdf.js:34
__w_pdfjs_require__ @ bootstrap b5fe8ab6eb949fc98816:19
Object.defineProperty.

[2018-02-07 02:35] tfierens commented on #9450
Hi,

I just thought I'd add some information. As you can see from the snapshot, it's definitely loading data as you can see from the developer's tab but I still can't explain why it's not displaying the page in the viewer.

<img width="1036" alt="viewer_hasdata" src="https://user-images.githubusercontent.com/13773041/35895427-46f22bc4-0baf-11e8-8264-4207b1c9fe77.PNG">

Why does the Viewer/Page doe

[2018-02-07 02:53] tfierens commented on #9450
Ok, I figured out what the problem is but I don't know how to fix it.

The problem lies with the ViewerContainer not being resized properly. When I change the following line:

`                <div id="viewerContainer" tabindex="0">
                    <div id="viewer"></div>
                </div>`

to

`                <div id="viewerContainer" tabindex="0" style="width: 500px; height:500px">

[2018-02-07 04:23] redstoneleo opened #9452 "save parsing or conversion works of last time for next time’s usage"
It happens frequently that we need to open a pdf file a second time to finish reading it, in order to make pdf.js load pdf fast when loading the same pdf file a second time, I suggest pdf.js to save those common tasks such as parsing or conversion of last time for next time’s usage.